<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Japan Activity Memory</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="src/favicon.ico">
</head>
<body>
 <!--==============================
	  Destination Details Area Start
	==============================-->
<section class="space">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="destination-details">
            <h2 class="ds-title">那霸</h2>
            <div class="ds-img1">
              <img src="assets/img/Shipment/15.jpg" alt="image">
            </div>
            <p class="ds-text">位於日本沖繩縣的那霸市是充滿活力的熱帶城市，擁有豐富的歷史和迷人的文化。作為沖繩的首府，那霸是探索這個群島的理想起點。
                走進世界遺產首里城，感受琉球王國的輝煌過去，或是在國際通上品嚐當地美食，體驗沖繩獨特的風味與文化。從清澈的海水、珊瑚礁到充滿綠意的公園
                和傳統市場，那霸為每一位遊客提供豐富的自然景觀與購物樂趣。不論是歷史迷、海洋愛好者，還是美食家，那霸都能帶給您難忘的旅遊體驗！</p>
 
           
            <div class="destinations-info">
              <h2>參考資訊</h2>
              <p>為了更好的旅遊體驗，請參考以下事項做好準備</p>
              <table class="destination-table">
                
                <tr>
                  <td>簽證要求</td>
                  <td>需要(日本)</td>
                </tr>
                <tr>
                  <td>當地語言</td>
                  <td>日語 & English</td>
                </tr>
                <tr>
                  <td>使用貨幣</td>
                  <td>日幣</td>
                </tr>
                <tr>
                  <td>區域大小</td>
                  <td>39.98平方公里</td>
                </tr>
              </table>
              
            </div>
            <h2 class="ds-title">圖片</h2>
            <p class="ds-text">那霸市是充滿活力的熱帶城市，擁有豐富的歷史和迷人的文化</p>
            <div class="mt-4">
              <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-4.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-4.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-5.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-5.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-6.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-6.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-7.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-7.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-8.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-8.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-9.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-9.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/destinations/destination-s-1-10.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/destinations/destination-s-1-10.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Comment Form -->
            <div class="vs-comment-form">
              <div id="respond" class="comment-respond">
                <h3 class="blog-inner-title">Leave a Comment</h3>
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Name">
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div>
                  <div class="col-12 form-group">
                    <textarea class="form-control" placeholder="Write Your Comment"></textarea>
                  </div>
                  <div class="col-12 ">
                    <div class="custom-checkbox notice">
                      <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox"
                        value="yes">
                      <label for="wp-comment-cookies-consent"> Save my name, email, and website in this browser for
                        the next time I comment.</label>
                    </div>
                  </div>
                  <div class="col-12 form-group pt-lg-2">
                    <button class="vs-btn style4">Post Comment</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar-area">
            <div class="widget widget_search">
              <div class="widget_title">Search</div>
              <form class="search-form">
                <input type="text" placeholder="Search Tour">
                <button type="submit"><i class="far fa-search"></i></button>
              </form>
            </div>
            <div class="widget">
              <h3 class="widget_title">Recent Posts</h3>
              <div class="recent-post-wrap">
                <div class="recent-post">
                  <div class="media-img">
                    <a href="blog-details.html">
                      <img src="assets/img/blog/recent-post1.jpg" alt="Blog Image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="post-title">
                      <a class="text-inherit" href="blog-details.html">Lorem ipsum dolor
                        sit agmet.</a>
                    </h4>
                    <div class="recent-post-meta">
                      <i class="fas fa-calendar-alt"></i>
                      <a href="blog.html">July 21, 2023</a>
                    </div>
                  </div>
                </div>
                <div class="recent-post">
                  <div class="media-img">
                    <a href="blog-details.html">
                      <img src="assets/img/blog/recent-post2.jpg" alt="Blog Image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="post-title">
                      <a class="text-inherit" href="blog-details.html">Lorem ipsum dolor
                        sit agmet.</a>
                    </h4>
                    <div class="recent-post-meta">
                      <i class="fas fa-calendar-alt"></i>
                      <a href="blog.html">July 21, 2023</a>
                    </div>
                  </div>
                </div>
                <div class="recent-post">
                  <div class="media-img">
                    <a href="blog-details.html">
                      <img src="assets/img/blog/recent-post3.jpg" alt="Blog Image">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="post-title">
                      <a class="text-inherit" href="blog-details.html">Lorem ipsum dolor
                        sit agmet.</a>
                    </h4>
                    <div class="recent-post-meta">
                      <i class="fas fa-calendar-alt"></i>
                      <a href="blog.html">July 21, 2023</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="widget widget_categories">
              <h3 class="widget_title">Categories</h3>
              <ul>
                <li><a class="active" href="#">Adventure</a> <span>(10)</span></li>
                <li><a href="#">Food</a> <span>(5)</span></li>
                <li><a href="#">New Year</a> <span>(8)</span></li>
                <li><a href="#">Summer</a> <span>(3)</span></li>
                <li><a href="#">Travel</a> <span>(9)</span></li>
              </ul>
            </div>

            <div class="widget widget-newsletter">
              <h3 class="widget_title">Newsletter</h3>
              <form class="newsletter-form">
                <input class="form-control" type="email" placeholder="Enter Your Email" />
                <button type="submit" class="vs-btn style4">Submit</button>
              </form>
            </div>

            <div class="widget widget_tag_cloud">
              <h3 class="widget_title">Tag</h3>
              <div class="tagcloud">
                <a href="blog.html">Camera</a>
                <a href="blog.html">Travel</a>
                <a href="blog.html">Camp</a>
                <a href="blog.html">summer</a>
                <a href="blog.html">Winter</a>
                <a href="blog.html">City</a>
                <a href="blog.html">Adventure</a>
                <a href="blog.html">Nature</a>
                <a href="blog.html">Fun</a>

              </div>
            </div>

            <div class="widget widget-social">
              <h3 class="widget_title">Never Miss News</h3>
              <div class="social-style widget_social_style">
                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--==============================
	  Destination Details Area End
	==============================-->
  <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
   <!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
</body>

</html>