<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Travolo - Travel Agency & Tour Booking HTML Template - Cart</title>
  <meta name="author" content="vecuro">
  <meta name="description" content="Travolo -  Travel Agency & Tour Booking HTML Template">
  <meta name="keywords" content="Travolo -  Travel Agency & Tour Booking HTML Template">
  <meta name="robots" content="INDEX,FOLLOW">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons - Place favicon.ico in the root directory -->
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <!--********************************
    Code Start From Here
    ******************************** -->

  <!--==============================
	  Hero area Start
	==============================-->
  <div class="breadcumb-wrapper" style="padding:50px 0px">
    <h1 class="breadcumb-title" style="margin-left: 10%;">購物車</h1>
  </div>
  <!--==============================
	  Hero Area End
	==============================-->

  <!--==============================
	  Cart Area Start
	==============================-->
  <div class="space vs-cart-wrapper">
    <div class="container">
      <form action="#" class="woocommerce-cart-form">
        <div class="table-responsive">
          <table class="cart_table">
            <thead>
              <tr>
                <th class="cart-col-image" style="color:black; width: 35%;" [colSpan]="2">商品</th>
                <!-- <th class="cart-col-productname"></th> -->
                <th class="cart-col-price" style="color:black; width: 15%;">單價</th>
                <th class="cart-col-quantity" style="color:black; width: 10%">數量</th>
                <th class="cart-col-total" style="color:black; width:15%">總計</th>
                <th class="cart-col-remove" style="color:black; width:15%;">刪除</th>
              </tr>
            </thead>
            <tbody>


              <!-- ========================================== -->


              <tr class="cart_item" *ngFor="let item of cartItems">
                <td data-title="Product">
                  <a class="cart-productimage" (click)="goToProductDetail(item.ItinerarySystemId)"><img width="80" height="80"
                      [src]="item.imagePath" alt="image" /></a>
                </td>
                <td data-title="Name">
                  <a class="cart-productname" (click)="goToProductDetail(item.ItinerarySystemId)">{{item.name}}</a>
                </td>
                <td data-title="Price">
                  <span class="amount"><bdi><span>$</span>{{item.price}}</bdi></span>
                </td>
                <td data-title="Quantity">
                  <div class="quantity">
                    <button class="quantity-minus qut-btn" (click)="changeQuantity(item, -1)">
                      <i class="far fa-minus"></i>
                    </button>
                    <input type="number" [id]="item.ItinerarySystemId" class="qty-input" [value]="item.quantity" min="1" max="99"
                      readonly />
                    <button class="quantity-plus qut-btn" (click)="changeQuantity(item, 1)">
                      <i class="far fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td data-title="Total">
                  <span class="totalAmount"><bdi><span>$</span>{{item.price * item.quantity}}</bdi></span>
                </td>
                <td data-title="Remove">
                  <a type="button" class="remove" (click)="removeCartItem(item.itineraryDateSystemId)"><i class="fal fa-trash-alt"></i></a>
                </td>
              </tr>


              <!-- ============================================== -->

              <tr>
                <td colspan="7" class="actions">
                  <div class="vs-cart-coupon">
                    <h3 class="mt-4 pt-lg-2" style="margin-top: 0px !important; height: 60px; width: 150px; text-align: center;">優惠券</h3><br>
                    <!-- <input type="text" class="form-control" style="text-align: center;" placeholder="新用戶好禮" readonly /> -->
                    <select name="coupon" style="text-align: center; border-radius: 1em; height: 60px; font-size: 18px;" (change)="saveCoupon($event)">
                      <option [value]="0">-------選擇優惠券-------</option>
                      <option [value]="100">驚喜大禮包 (-100)</option>
                      <option [value]="150">大大大優惠 (-150)</option>
                      <option [value]="99">周年慶大放送 (-99)</option>
                      <option [value]="50">新用戶好禮 (-50)</option>
                    </select>
                    <!-- <button type="submit" class="vs-btn style4">
                      使用優惠券
                    </button> -->
                  </div>
                  <button (click)="goToHomePage()" class="vs-btn style4" style="padding: 20px ;">繼續購物</button>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <div class="row justify-content-end">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <h2 class="h4 summary-title">Cart Totals</h2>
          <table>
            <tbody>
              <tr class="order-total">
                <th>商品總金額</th>
                <td data-title="Subtotal">
                  <span class="amount"><bdi><span>$</span>{{productTotalAmount}}</bdi></span>
                </td>
              </tr>
              <tr class="order-total">
                <th>優惠券折扣</th>
                <td data-title="coupon">
                  <span class="amount"><bdi><span>-$</span>{{discount}}</bdi></span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="order-total">
                <th>總金額</th>
                <td data-title="Total">
                  <strong><span class="amount"><bdi><span>$</span>{{totalAmount}}</bdi></span></strong>
                </td>
              </tr>
            </tfoot>
          </table>
          <button class="vs-btn style4" (click)="goToCheckout()" style="width: 100%;">去結帳</button>
          <!-- <input type="text" id="textcontent"> -->
          <input type="button" class="save" (click)="setcontent()" value="Demo">
          <!-- <input type="button" class="alert" (click)="getcontent()" value="alert"> -->
          <!-- <input type="button" class="remove" (click)="removecontent()" value="remove"> -->
          <input type="button" class="clear" (click)="clearCartItems()" value="Clear">
          <!-- <input type="button" class="getInfo" (click)="getMemberInfo()" value="getInfo"> -->
        </div>
      </div>
    </div>
  </div>
  <!--==============================
	  Cart Area End
	==============================-->

  <!-- Scroll To Top -->
  <!-- <a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a> -->

  <!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>


</body>

</html>
