<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Travolo - Travel Agency & Tour Booking HTML Template - Cart</title>
  <meta name="author" content="vecuro">
  <meta name="description" content="Travolo -  Travel Agency & Tour Booking HTML Template">
  <meta name="keywords" content="Travolo -  Travel Agency & Tour Booking HTML Template">
  <meta name="robots" content="INDEX,FOLLOW">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicons - Place favicon.ico in the root directory -->
  <link rel="icon" type="image/png" href="assets/img/favicons/favicon.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

<!--==============================
	  Google Fonts
	============================== -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <!--==============================
	    All CSS File
	============================== -->
  <!-- Bootstrap -->
  <!-- <link rel="stylesheet" href="assets/css/app.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" /> -->
  <!-- Fontawesome Icon -->
  <!-- <link rel="stylesheet" href="assets/css/fontawesome.min.css" /> -->
  <!-- Magnific Popup -->
  <!-- <link rel="stylesheet" href="assets/css/magnific-popup.min.css" /> -->
  <!-- Slick Slider -->
  <!-- <link rel="stylesheet" href="assets/css/slick.min.css" /> -->
  <!-- Theme Custom CSS -->
  <!-- <link rel="stylesheet" href="assets/css/style.css" /> -->
  </head>

  <body>
    <!--********************************
    Code Start From Here
    ******************************** -->

    <!--==============================
    Sidemenu
  ============================== -->
  <!-- <div class="sidemenu-wrapper offcanvas-wrapper d-none d-lg-block">
    <div class="sidemenu-content">
      <button class="closeButton sideMenuCls">
        <i class="far fa-times"></i>
      </button>
      <div class="widget">
        <div class="vs-widget-about">
          <div class="footer-logo">
            <a href="index.html"><img src="assets/img/logo.svg" alt="Travolo"></a>
          </div>
          <p class="footer-text">
            Ut tellus dolor, dapibus eget, elementum ifend cursus eleifend,
            elit. Aenea ifen dn tor wisi Aliquam er at volutpat. Dui ac tui
            end cursus eleifendrpis.
          </p>
          <div class="info-social style2">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-google"></i></a>
          </div>
        </div>
      </div>
      <div class="widget">
        <h3 class="widget_title">Recent Articles</h3>
        <div class="recent-post-wrap">
          <div class="recent-post">
            <div class="media-img">
              <a href="blog-details.html"><img src="assets/img/blog/recent-post1.jpg" alt="Blog Image"></a>
            </div>
            <div class="media-body">
              <div class="recent-post-meta">
                <i class="fal fa-calendar-alt"></i>
                <a href="blog.html">December 15, 2022</a>
              </div>
              <h4 class="post-title">
                <a class="text-inherit" href="blog-details.html">We are Giving Amazing Tour for VIP</a>
              </h4>
            </div>
          </div>
          <div class="recent-post">
            <div class="media-img">
              <a href="blog-details.html"><img src="assets/img/blog/recent-post2.jpg" alt="Blog Image"></a>
            </div>
            <div class="media-body">
              <div class="recent-post-meta">
                <i class="fal fa-calendar-alt"></i>
                <a href="blog.html">March 13, 2022</a>
              </div>
              <h4 class="post-title">
                <a class="text-inherit" href="blog-details.html">The journey journal chronicles of a wandering soul</a>
              </h4>
            </div>
          </div>
          <div class="recent-post">
            <div class="media-img">
              <a href="blog-details.html"><img src="assets/img/blog/recent-post3.jpg" alt="Blog Image"></a>
            </div>
            <div class="media-body">
              <div class="recent-post-meta">
                <i class="fal fa-calendar-alt"></i>
                <a href="blog.html">Augest 23, 2022</a>
              </div>
              <h4 class="post-title">
                <a class="text-inherit" href="blog-details.html">Roam And Revel captivating at tellus.</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--==============================
    Cart Side bar
  ============================== -->
  <!-- <div class="sideCart-wrapper offcanvas-wrapper d-none d-lg-block">
    <div class="sidemenu-content">
      <button class="closeButton border-theme bg-theme-hover sideMenuCls"><i class="far fa-times"></i></button>
      <div class="widget widget_shopping_cart">
        <h3 class="widget_title">Shopping cart</h3>
        <div class="widget_shopping_cart_content">
          <ul class="cart_list">
            <li class="mini_cart_item">
              <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a> <a href="shop.html"><img
                  src="assets/img/products/p-1-1.png" alt="Cart Image" />Modern Cow Boy Hat</a>
              <span class="quantity">
                1 × <span   class="amount"><span>$</span>100.00</span>
              </span>
            </li>
            <li class="mini_cart_item">
              <a href="shop.html" class="remove"><i class="fal fa-trash-alt"></i></a> <a href="shop.html"><img
                  src="assets/img/products/p-1-2.png" alt="Cart Image" />Cat Eye Sunglasses</a>
              <span class="quantity">
                1 × <span class="amount"><span>$</span>10.00</span>
              </span>
            </li>
          </ul>
          <div class="total">
            <strong>Subtotal:</strong> <span class="amount"><span>$</span>110.00</span>
          </div>
          <div class="buttons">
            <a href="cart.html" class="vs-btn style4">View cart</a>
            <a href="checkout.html" class="vs-btn style4">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

   <!--==============================
    Popup Search Box
  ============================== -->
  <!-- <div class="popup-search-box d-none d-lg-block">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
      <input type="text" class="border-theme" placeholder="What are you looking for" />
      <button type="submit"><i class="fal fa-search"></i></button>
    </form>
  </div> -->

<!--==============================
	  Hero area Start
	==============================-->
  <div class="breadcumb-wrapper" style="padding:50px 0px">
    <h1 class="breadcumb-title" style="margin-left: 10%;">購物車</h1>
</div>
  <!--==============================
	  Hero Area End
	==============================-->

  <!--==============================
	  Cart Area Start
	==============================-->
  <div class="space vs-cart-wrapper">
    <div class="container">
      <form action="#" class="woocommerce-cart-form">
        <div class="table-responsive">
          <table class="cart_table">
            <thead>
              <tr>
                <th>
                  <div style="justify-content: center;">
                    <input type="checkbox"
                    style ="visibility: visible;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    opacity: 0.5;
                    display: flex;
                    width: 18px;
                    height: 18px;">
                  </div>
                </th>
                <th class="cart-col-image" style="color:black">商品</th>
                <th class="cart-col-productname"></th>
                <th class="cart-col-price" style="color:black">單價</th>
                <th class="cart-col-quantity" style="color:black">數量</th>
                <th class="cart-col-total" style="color:black">總計</th>
                <th class="cart-col-remove" style="color:black">刪除</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cart_item">
                <td>
                  <input type="checkbox"
                    style ="visibility: visible;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    opacity: 0.5;
                    display: flex;
                    width: 18px;
                    height: 18px;">
                </td>
                <td data-title="Product">
                  <a class="cart-productimage" href="shop-details.html"><img width="80" height="80"
                      src="assets/img/products/p-1-1.png" alt="Image" /></a>
                </td>
                <td data-title="Name">
                  <a class="cart-productname" href="shop-details.html">商品1</a>
                </td>
                <td data-title="Price">
                  <span class="amount"><bdi><span>$</span>100</bdi></span>
                </td>
                <td data-title="Quantity">
                  <div class="quantity">
                    <button class="quantity-minus qut-btn">
                      <i class="far fa-minus"></i>
                    </button>
                    <input type="number" class="qty-input" value="1" min="1" max="99"  />
                    <button class="quantity-plus qut-btn">
                      <i class="far fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td data-title="Total">
                  <span class="amount"><bdi><span>$</span>100</bdi></span>
                </td>
                <td data-title="Remove">
                  <a href="#" class="remove"><i class="fal fa-trash-alt"></i></a>
                </td>
              </tr>
              <tr class="cart_item">
                <td>
                  <input type="checkbox"
                    style ="visibility: visible;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    opacity: 0.5;
                    display: flex;
                    width: 18px;
                    height: 18px;">
                </td>
                <td data-title="Product">
                  <a class="cart-productimage" href="shop-details.html"><img width="80" height="80"
                      src="assets/img/products/p-1-2.png" alt="Image" /></a>
                </td>
                <td data-title="Name">
                  <a class="cart-productname" href="shop-details.html">商品2</a>
                </td>
                <td data-title="Price">
                  <span class="amount"><bdi><span>$</span>10</bdi></span>
                </td>
                <td data-title="Quantity">
                  <div class="quantity">
                    <button class="quantity-minus qut-btn">
                      <i class="far fa-minus"></i>
                    </button>
                    <input type="number" class="qty-input" value="1" min="1" max="99"  />
                    <button class="quantity-plus qut-btn">
                      <i class="far fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td data-title="Total">
                  <span class="amount"><bdi><span>$</span>10</bdi></span>
                </td>
                <td data-title="Remove">
                  <a href="#" class="remove"><i class="fal fa-trash-alt"></i></a>
                </td>
              </tr>
              <tr>
                <td colspan="7" class="actions">
                  <div class="vs-cart-coupon">
                    <input type="text" class="form-control" style="text-align: center;" placeholder="優惠券名稱" readonly/>
                    <button type="submit" class="vs-btn style4">
                      使用優惠券
                    </button>
                  </div>
                  <button (click)="goToHomePage()" class="vs-btn style4">繼續購物</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <div class="row justify-content-end">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <h2 class="h4 summary-title">Cart Totals</h2>
          <table class="cart_totals">
            <tbody>
              <!-- <tr>
                <td>小計</td>
                <td data-title="Cart Subtotal">
                  <span class="amount"><bdi><span>$</span>110</bdi></span>
                </td>
              </tr> -->
              <tr class="order-total">
                <th>優惠券折扣</th>
                <td data-title="coupon">
                  <span class="amount"><bdi><span>$</span>10</bdi></span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="order-total">
                <td>總金額</td>
                <td data-title="Total">
                  <strong><span class="amount"><bdi><span>$</span>100</bdi></span></strong>
                </td>
              </tr>
            </tfoot>
          </table>
          <button class="vs-btn style4" (click)="goToCheckout()" style="width: 100%;">去結帳</button>
        </div>
      </div>
    </div>
  </div>
  <!--==============================
	  Cart Area End
	==============================-->

<!-- Scroll To Top -->
<a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>

<!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
</body>

</html>
