<div class="page">
  <h1 style="margin-bottom: 40px;"><b>我的收藏</b></h1>
  <div class="row">
    <div class="d-flex align-items-center">
      <span style="font-size: 30px;">2 個行程在此收藏</span>
      <select class="form-select ms-auto" style="width: 120px; height: 50px;">
        <option>所有地區</option>
        <option>北海道</option>
        <option>東北</option>
        <option>關東</option>
        <option>北陸</option>
        <option>關西</option>
        <option>中國、四國</option>
        <option>九州</option>
        <option>沖繩</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="container page-body">
    <div class="col-md-12">
    <!-- //==============我的最愛列表========================================= -->
    <div class="vs-blog blog-single d-flex col-md-12" style="padding: 0%;">
      <div class="blog-img me-3 col-md-3" style="width: 300px; height: 300px; margin-bottom: 0%">
        <img src="assets/img/Member/日本風景.png" alt="blog image" style="width: 300px; height: 300px;">
      </div>
      <div class="blog-content col-md-7" style="margin-bottom: 20px;margin-top: 20px;">
        <h2 class="blog-title"><a href="">【石垣島/半天】世界公認的「川平灣」SUP/獨木舟可供選擇★免費交通/照片數據，無需額外費用，接受當天預訂！</a></h2>
        <p>
          【川平灣SUP/獨木舟×青之洞窟浮潛】包含石垣島代表性景點「川平灣」的SUP或獨木舟（皮划艇）、人氣景點「青之洞窟」的探索以及週邊浮潛的超值套裝行程。 這是一個非常受歡迎的方案，可以讓您在一天內充分遊覽石垣島！
        </p>
        <div class="d-flex align-items-center">
          <ul class="blog-meta d-flex me-3" style="margin: 0; padding: 0; list-style: none;">
            <li><a class="blog-date"><i class="fas fa-calendar-alt"></i>最早活動日: 2024-12-02</a></li>
            <li class="ms-3"><a class="blog-date"><i class="fas fa-comment-dots"></i> Comments (3)</a></li>
          </ul>
          <b class="ms-auto">NT$3,000</b>
        </div>
    </div>
    </div>
    <div class="vs-blog blog-single d-flex col-md-12" style="padding: 0%;">
      <div class="blog-img me-3 col-md-3" style="width: 300px; height: 300px; margin-bottom: 0%">
        <img src="assets/img/Member/日本風景.png" alt="blog image" style="width: 300px; height: 300px;">
      </div>
      <div class="blog-content col-md-7" style="margin-bottom: 20px;margin-top: 20px;">
        <h2 class="blog-title"><a href="">隨意去釣魚“竹莢魚”“半日船釣魚課程”歡迎初學者</a></h2>
        <p>
          有時有多少魚鉤就能釣到多少條魚，一次最多可以釣到 5 條！ 課程時間為推薦時間。我們全天 24 小時提供出發服務，如果您有希望的出發時間，請在預訂時註明。平成時代出生的船長和釣魚專業人士會全力支持您如何釣魚。
        </p>
        <div class="d-flex align-items-center">
          <ul class="blog-meta d-flex me-3" style="margin: 0; padding: 0; list-style: none;">
            <li><a class="blog-date"><i class="fas fa-calendar-alt"></i>最早活動日: 2024-11-30</a></li>
            <li class="ms-3"><a class="blog-date"><i class="fas fa-comment-dots"></i> Comments (5)</a></li>
          </ul>
          <b class="ms-auto">NT$1,580</b>
        </div>
    </div>
    </div>






    </div>
  </div>
</div>
