<div class="page">
  <h1 style="margin-bottom: 40px;"><b>我的收藏</b></h1>
  <div class="row">
    <div class="d-flex align-items-center">
      <span style="font-size: 30px;">{{myfavoriteItilities.length}} 個行程在此收藏</span>
      <select class="form-select ms-auto" style="width: 120px; height: 50px;" (change)="selectArea($event)">
        <option value="0">所有地區</option>
        <option *ngFor="let item of areas" [value]="item.areaSystemId" >{{item.areaName}}</option>
      </select>
    </div>
  </div>
  <hr>
  <div class="container page-body">
    <div class="col-md-12">
      <!-- //==============我的最愛列表========================================= -->
      <div *ngFor="let item of myfavoriteItilities">
        <div class="vs-blog blog-single d-flex col-md-12" style="padding: 0%; height: 270px;">
          <div class="blog-img me-3 col-md-3" style="width: 300px; height: 270px; margin-bottom: 0%">
            <img [src]="item.image" alt="blog image" style="width: 300px; height: 270px;">
          </div>
          <div class="blog-content col-md-7" style="margin-bottom: 20px;margin-top: 20px;">
            <h2 class="blog-title"><a (click)="gotoDetail(item.itinerarySystemId)">{{item.itineraryName}}</a></h2>
            <p>
              {{item.itineraryDetail | myfavorite}}
            </p>
            <div class="d-flex align-items-center">
              <ul class="blog-meta d-flex me-3" style="margin: 0; padding: 0; list-style: none;">
                <li><a class="blog-date"><i class="fas fa-calendar-alt"></i>活動日: {{item.departureDate[0].substring(0,10)}}</a></li>
              </ul>
              <b class="ms-auto">NT {{item.price| currency: 'TWD': true:'1.0-0' }}</b>
              <a class="icon-btn" style="margin-left: 30px;"><i class="fas fa-heart" style="color: crimson;" (click)="removemycollection(item.itinerarySystemId)"></i></a>
            </div>
          </div>
        </div>
      </div>







    </div>
  </div>
</div>
