<div class="signup-wrapper  space">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 ">
        <form action="#" class="signup-form bg-smoke">
          <h2 class="form-title text-center mb-lg-35">創建JAM帳號</h2>
          <div class="form-group mt-5">
            <label for="signUpUserName" class="sr-only">使用者名稱</label>
            <input type="text" class="form-control" [(ngModel)]="inputRegister.RegisterName" (focus)="focus()" placeholder="使用者名稱*" name="signUpUserName" required>
            <P class="text-danger">{{ErrorMessage.ErrorName}}</P>
          </div>
          <div class="form-group">
            <label for="signUpUserEmail" class="sr-only">電子郵件</label>
            <input type="text" class="form-control" [(ngModel)]="inputRegister.RegisterEmail" (focus)="focus()" placeholder="電子郵件*" name="signUpUserEmail" required>
            <P class="text-danger">{{ErrorMessage.ErrorEmail}}</P>
          </div>
          <div class="form-group">
            <label for="signUpUserPass" class="sr-only">密碼</label>
            <input type="password" class="form-control" [(ngModel)]="inputRegister.RegisterPassword" (focus)="focus()" placeholder="密碼*" name="signUpUserPass" required>
            <P class="text-danger">{{ErrorMessage.ErrorPassword}}</P>
          </div>
          <div class="form-group">
            <input type="checkbox" name="signUpTerms" id="signUpTerms">
            <label for="signUpTerms"> 我已詳閱並同意 使用者條款 & 隱私權保護政策 *</label>
          </div>
          <div id="recaptcha-container"></div>
          <div class="form-group mb-0 text-center" style="margin-top: 30px;">
            <button class="vs-btn w-100 style4" type="button" (click)="Register()">註冊</button>
            <div class="bottom-links link-inherit pt-3">
              <span>已成為會員? <a class="text-theme" class="recovery-link mb-2 mb-md-0"(click)="goTologin()">立即登入</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
