<div class="page">
  <h1 style="margin-bottom: 40px;"><b>訂單明細</b></h1>
  <hr>
  <div class="container page-body">
    <!-- ======================================================================================== -->
    <table class="table caption-top">
      <thead class="orderthead">
        <tr>
          <th scope="col">訂單編號</th>
          <th scope="col">行程編號</th>
          <th scope="col">行程名稱</th>
          <th scope="col">數量</th>
          <th scope="col">總價</th>
        </tr>
      </thead>
      <tbody class="ordertbody">
        <tr>
          <th scope="row">K11111</th>
          <td>24NRD0914</td>
          <td>東京夏季五日遊</td>
          <td>5</td>
          <td>3,900</td>
        </tr>
        <tr>
          <th scope="row">K11111</th>
          <td>24CHA1112</td>
          <td>京都抹茶體驗~附和果子</td>
          <td>3</td>
          <td>2,400</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
