<div class="page">
  <h1 style="margin-bottom: 40px;"><b>訂單明細</b></h1>
  <hr>
  <div class="container page-body">
    <!-- ======================================================================================== -->
    <table class="table caption-top">
      <thead class="orderthead">
        <tr>
          <th scope="col">訂單編號</th>
          <th scope="col">行程編號</th>
          <th scope="col">行程名稱</th>
          <th scope="col">活動時間</th>
          <th scope="col">數量</th>
          <th scope="col">總價</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="ordertbody" style="font-size: 12px;">
        <tr *ngFor="let item of myOrderDetailDTO">
          <th style="text-align: left;" scope="row">{{item.orderNumber}}</th>
          <td style="text-align: left;">{{item.itineraryId}}</td>
          <td style="text-align: left;">{{item.itineraryName}}</td>
          <td style="text-align: left;">{{item.departureDate}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.totalPrice}}</td>
          <td><button class="vs-btn mask-style1 style4 col-md-2" type="button" style="width: 130px;background-color:#FFD306">我要評論</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
