<section class="memberarea">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside>
          <div class="memberinfo">


          <div class="memberinfo2">
          <div class="mb-3 memberimg">
            <img src="assets/img/Member/winnie.jpg"/>
          </div>
          <div>
            <label style="font-size: 20px; color: black;"><b>莊智傑</b></label>
          </div>
          <div>
            <label style="font-size: 20px; color:	#3C3C3C;">白銀會員</label>
          </div>
          <hr>
          <div>
            <label>JAM 會員</label>
            <label>winnie&#64;gmail.com</label>
          </div>
        </div>
      </div>





        </aside>
      </div>
    </div>
  </div>
</section>


