<section class="memberarea">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside>
          <div class="memberinfo">
            <div>
              <div class="mb-3 memberimg">
                <!-- 圖片充當檔案上傳按鈕 -->
                <img [src]="myareaMember.ImageUrl" (click)="onUploadClick()" style="width: 200px; height: 200px; cursor: pointer;" />
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />
              </div>
              <div style="margin-top:10px;">
                <label style="font-size: 20px; color: black;"><b>{{myareaMember.ChineseName}}</b></label>
              </div>
              <div>
                <label style="font-size: 20px; color:	black;">{{myareaMember.MemberLevel}}</label>
              </div>
              <hr>
              <div style="display: flex; align-items: flex-start; margin: 10px;">
                <img src="assets/img/jam_logo2.jpg" style="width: 30px; margin-right: 10px;" />
                <div style="display: flex; flex-direction: column; height: 50px; text-align: left; margin-left:10px ;">
                  <label style="color: black; font-size: 12px; margin-bottom: 0%;"><b>JAM 會員</b></label>
                  <label style="color: black; font-size: 12px; margin-top: 0%">{{myareaMember.Email}}(<span>{{myareaMember.MemberStatus}}</span>)</label>

                </div>
              </div>
            </div>
          </div>
          <!-- //======================================================================================================================== -->
          <div class="memberinfolist">
            <div class="list-group">
              <a class="list-group-item list-group-item-action" style="border: none;" (click)="goToAccount()">帳號設定</a>
              <a class="list-group-item list-group-item-action" style="border: none;" (click)="goTomymemberlevel()">我的會員籍禮遇</a>
              <a class="list-group-item list-group-item-action" style="border: none;" (click)="goToMycollection()">我的收藏</a>
              <a class="list-group-item list-group-item-action" style="border: none;" (click)="goToMyOrder()">訂單管理</a>
              <a class="list-group-item list-group-item-action" style="border: none;">訊息管理</a>
              <a class="list-group-item list-group-item-action" style="border: none;" (click)="goToMyCoupon()">我的優惠券</a>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-md-9">

      <!-- ========================右半邊頁面============================================== -->
      <div [ngSwitch]="selectedComponent">
        <app-account *ngSwitchCase="'account'" [loginTransfer]="loginTransfer" [selectedFile]="selectedFile" (reloadingEventEmiter)="reloading()"></app-account>
        <app-mymemberlevel *ngSwitchCase="'mymemberlevel'" [loginTransfer]="loginTransfer"></app-mymemberlevel>
        <app-mycollection *ngSwitchCase="'mycollection'"></app-mycollection>
        <app-myorder *ngSwitchCase="'myorder'" (gotoOrderDetailemit)="goToOrderDetail($event)"></app-myorder>
        <app-memberorderdetail *ngSwitchCase="'memberorderdetail'"></app-memberorderdetail>
        <app-coupon *ngSwitchCase="'coupon'"></app-coupon>
      </div>



      </div>
    </div>
  </div>
</section>
