<form [formGroup]="createArticleForm" (ngSubmit)="onSubmit()">
  <!-- 文章標題 -->
  <div class="form-group">
    <label for="articleTitle">文章標題</label>
    <input id="articleTitle" formControlName="articleTitle" type="text" class="form-control" required />
  </div>

  <!-- 文章內容 -->
  <div class="form-group">
    <label for="articleContent">文章內容</label>
    <textarea id="articleContent" formControlName="articleContent" class="form-control" required></textarea>
  </div>

  <!-- Hashtags -->
  <div class="form-group">
    <label>請選擇Hashtag</label>
    <div *ngFor="let hashtag of hashtags">
      <input type="checkbox" [value]="hashtag.id" (click)="onHashtagChange(hashtag,$event)"
        [checked]="createArticleForm.get('selectedHashtags')?.value.includes(hashtag)" />
      <label>{{ hashtag.name }}</label>
    </div>

  </div>

  <!-- 提交按鈕 -->
  <button type="submit" class="vs-btn style4"
    [ngStyle]="{ 'cursor': createArticleForm.invalid ? 'not-allowed' : 'pointer' }">
    新增文章
  </button>
</form>
