<!--==============================
      Hero Area Start
    ==============================-->
    <section class="hero-layout1">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <!-- 第一個輪播項目 -->
        <div ngxSlickItem class="hero-slide hero-mask" style="background-image: url('assets/img/banner/homepage-big.jpg');">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="hero-content">
                  <span class="hero-subtitle">立即體驗</span>
                  <h1 class="hero-title">日本眾多活動</h1>
                  <p class="hero-text">在 J.A.M 日本體驗行程網站<br>您能夠輕易的找到您有興趣的日本各地活動</p>
                  <a [routerLink]="['/itinerary-list']" class="vs-btn style4">立即查看體驗行程</a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hero-form2" data-bg-src="assets/img/banner/map-bg.png">
                  <div class="shape-mockup">
                    <img src="assets/img/features/features-1-2w.png" alt="hero image">
                  </div>
                  <div>
                    <label class="h3">選擇日本地區</label>
                    <div class="form-group ">
                      <i class="fas fa-compass"></i>
                      <input type="text" placeholder="要去哪裡?" />
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇月份</label>
                    <div class="form-group ">
                      <i class="fas fa-calendar-alt"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇月份</option>
                        <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">June</option>
                          <option value="07">July</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇體驗活動</label>
                    <div class="form-group">
                      <i class="fas fa-thumbtack"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇體驗類型</option>
                        <option value="">Adventure </option>
                        <option value="">Combining</option>
                        <option value="">Sporting</option>
                        <option value="">Domestic</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button class="vs-btn style4">出發</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 第二個輪播項目 -->
        <div ngxSlickItem class="hero-slide hero-mask" style="background-image: url('assets/img/banner/homepage-big-2.png');">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="hero-content">
                  <span class="hero-subtitle">立即體驗</span>
                  <h1 class="hero-title">日本眾多活動</h1>
                  <p class="hero-text">在 J.A.M 日本體驗行程網站<br>您能夠輕易的找到您有興趣的日本各地活動</p>
                  <a [routerLink]="['/itinerary-list']" class="vs-btn style4">立即查看體驗行程</a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hero-form2" data-bg-src="assets/img/banner/map-bg.png">
                  <div class="shape-mockup">
                    <img src="assets/img/features/features-1-2w.png "alt="hero image">
                  </div>
                  <div>
                    <label class="h3">選擇日本地區</label>
                    <div class="form-group ">
                      <i class="fas fa-compass"></i>
                      <input type="text" placeholder="要去哪裡?" />
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇日期</label>
                    <div class="form-group ">
                      <i class="fas fa-calendar-alt"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇月份</option>
                        <option value="Jan">Jan</option>
                          <option value="">Feb</option>
                          <option value="">Mar</option>
                          <option value="">Apr</option>
                          <option value="">May</option>
                          <option value="">June</option>
                          <option value="">July</option>
                          <option value="">Aug</option>
                          <option value="">Sep</option>
                          <option value="">Oct</option>
                          <option value="">Nov</option>
                          <option value="">Dec</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇體驗活動</label>
                    <div class="form-group">
                      <i class="fas fa-thumbtack"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇體驗類型</option>
                        <option value="">Adventure </option>
                        <option value="">Combining</option>
                        <option value="">Sporting</option>
                        <option value="">Domestic</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button class="vs-btn style4">出發</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 第三個輪播項目 -->
        <div ngxSlickItem class="hero-slide hero-mask" style="background-image: url('assets/img/banner/homepage-big-3.jpg');">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6">
                <div class="hero-content">
                  <span class="hero-subtitle">立即體驗</span>
                  <h1 class="hero-title">日本眾多活動</h1>
                  <p class="hero-text">在 J.A.M 日本體驗行程網站<br>您能夠輕易的找到您有興趣的日本各地活動</p>
                  <a [routerLink]="['/itinerary-list']" class="vs-btn style4">立即查看體驗行程</a>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hero-form2" data-bg-src="assets/img/banner/map-bg.png">
                  <div class="shape-mockup">
                    <img src="assets/img/features/features-1-2w.png" alt="hero image">
                  </div>
                  <div>
                    <label class="h3">選擇日本地區</label>
                    <div class="form-group ">
                      <i class="fas fa-compass"></i>
                      <input type="text" placeholder="要去哪裡?" />
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇日期</label>
                    <div class="form-group ">
                      <i class="fas fa-calendar-alt"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇月份</option>
                          <option value="">Jan</option>
                          <option value="">Feb</option>
                          <option value="">Mar</option>
                          <option value="">Apr</option>
                          <option value="">May</option>
                          <option value="">June</option>
                          <option value="">July</option>
                          <option value="">Aug</option>
                          <option value="">Sep</option>
                          <option value="">Oct</option>
                          <option value="">Nov</option>
                          <option value="">Dec</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label class="h3">選擇體驗活動</label>
                    <div class="form-group">
                      <i class="fas fa-thumbtack"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">選擇體驗類型</option>
                        <option value="">Adventure </option>
                        <option value="">Combining</option>
                        <option value="">Sporting</option>
                        <option value="">Domestic</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button class="vs-btn style4">出發</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </section>
    <!-- ============================
          Hero Area End
        ==============================-->

    <!--==============================
      Tour Package Area Start
    ==============================-->
    <section class="space bg-light shape-mockup-wrap" data-bg-src="assets/img/shape/Bg.png">
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-bottom="20%" data-left="5%">
        <img src="assets/img/shape/Dot.png" alt="Dots">
      </div>
      <div class="shape-mockup d-none d-xl-block spin z-index-negative" data-bottom="-5%" data-right="-5%">
        <img src="assets/img/shape/circle1.png" alt="Circle">
      </div>
      <div class="shape-mockup d-none d-xl-block ripple-animation z-index-negative" data-top="10%" data-left="10%">
        <img src="assets/img/shape/Plane.png" alt="plane">
      </div>
      <div class="container ">
        <div class="row justify-content-center text-center">
          <div class="col-xl-6 col-lg-8 wow fadeInUp" data-wow-delay="0.3s">
            <div class="title-area">
              <span class="sec-subtitle">精選熱門行程</span>
              <h2 class="sec-title h1">日本時下最流行的體驗行程</h2>
              <p class="sec-text">從水上到陸地，由動態到靜態。各式各樣最熱門的行程就在這裡，一起來體驗吧!!</p>
            </div>
          </div>
        </div>
        <div class="row vs-carousel" data-slide-show="4" data-arrows="false" data-lg-slide-show="3" data-md-slide-show="2"
          data-sm-slide-show="1">
          <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img [src]="'../../../assets/img/tours/' + tours[0].imagePath"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <ng-container *ngFor="let star of [].constructor(tours[0].starRate); let i = index">
                    <i class="fas fa-star"></i>
                  </ng-container>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">{{tours[0].itineraryName}}</a></h3>
                <p class="package-text">{{tours[0].areaName}}</p>
                <div class="package-footer">
                  <span class="package-price">{{tours[0].price | currency:'TWD':'symbol': '1.0-0'}}</span>
                  <a href="tour-booking.html" class="vs-btn style4">查看體驗行程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img [src]="'../../../assets/img/tours/' + tours[1].imagePath"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">{{tours[1].itineraryName}}</a></h3>
                <p class="package-text">{{tours[1].areaName}}</p>
                <div class="package-footer">
                    <span class="package-price">{{tours[1].price | currency:'TWD':'symbol': '1.0-0'}}</span>
                  <a href="tour-booking.html" class="vs-btn style4">查看體驗行程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img [src]="'../../../assets/img/tours/' + tours[2].imagePath"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">{{tours[2].itineraryName}}</a></h3>
                <p class="package-text">{{tours[2].areaName}}</p>
                <div class="package-footer">
                  <span class="package-price">{{tours[2].price | currency:'TWD':'symbol': '1.0-0'}}</span>
                  <a href="tour-booking.html" class="vs-btn style4">查看體驗行程</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img [src]="'../../../assets/img/tours/' + tours[3].imagePath"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">{{tours[3].itineraryName}}</a></h3>
                <p class="package-text">{{tours[3].areaName}}</p>
                <div class="package-footer">
                  <span class="package-price">{{tours[3].price | currency:'TWD':'symbol': '1.0-0'}}</span>
                  <a href="tour-booking.html" class="vs-btn style4">查看體驗行程</a>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img class="w-100" src="assets/img/tours/tour-1-5.jpg"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">Wanderlust Wonderland</a></h3>
                <p class="package-text">Las Vegas, Nevada</p>
                <div class="package-meta">
                  <a href="#"><i class="fas fa-calendar-alt"></i> Days: 2</a>
                  <a href="#"><i class="fas fa-user"></i> People: 2</a>
                </div>
                <div class="package-footer">
                  <span class="package-price">$199</span>
                  <a href="tour-booking.html" class="vs-btn style4">View Details</a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="package-style1">
              <div class="package-img">
                <a href="tour-booking.html"><img class="w-100" src="assets/img/tours/tour-1-6.jpg"
                    alt="Package Image"></a>
              </div>
              <div class="package-content">
                <div class="package-review">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h3 class="package-title"><a href="tour-booking.html">Explore Our World</a></h3>
                <p class="package-text">Las Vegas, Nevada</p>
                <div class="package-meta">
                  <a href="#"><i class="fas fa-calendar-alt"></i> Days: 4</a>
                  <a href="#"><i class="fas fa-user"></i> People: 3</a>
                </div>
                <div class="package-footer">
                  <span class="package-price">$259</span>
                  <a href="tour-booking.html" class="vs-btn style4">View Details</a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="text-center pt-lg-2">
          <a [routerLink]="['/itinerary-list']" class="vs-btn">更多體驗等你來發掘</a>
        </div>
      </div>
    </section>
    <!--==============================
      Tour Package Area End
    ==============================-->

    <!--==============================
      About Area Start
    ==============================-->
    <section class="space shape-mockup-wrap">
      <div class="shape-mockup d-none d-xl-block ripple-animation z-index-negative" data-top="10%" data-left="5%">
        <img src="assets/img/shape/Ballon.png" alt="svg">
      </div>
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-top="10%" data-right="10%">
        <img src="assets/img/shape/up-arrow.png" alt="svg">
      </div>
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-bottom="0%" data-left="0%">
        <img class="plane2" src="assets/img/shape/plane2.png" alt="svg">
      </div>
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-bottom="15%" data-right="5%">
        <img src="assets/img/shape/Lines.png" alt="svg">
      </div>
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-xl-5">
            <div class="about-content">
              <div class="title-area">
                <span class="sec-subtitle">探索無憂郵輪旅遊</span>
                <h2 class="sec-title h1">讓你一次性遊歷多個城市的最佳選擇</h2>
                <p class="sec-text">郵輪旅遊好處多多，不僅能省去繁瑣的住宿和交通安排，還能輕鬆抵達日本各大港口。不用換酒店，也不用換交通工具，一次遊歷多個目的地，讓您盡享無憂之旅。</p>
              </div>
              <ul class="about-list1">
                <li>吃喝玩樂通通有，費用包辦交通、美食和娛樂。</li>
                <li>自由規劃路線，可以上岸跑行程，也可在甲板放空曬太陽。</li>
                <li>免舟車勞頓，不受年齡和體力限制。</li>
                <li>住宿、交通、餐飲一次解決，省時省力。</li>
                <li>一趟旅遊即可造訪多個城市或國家。</li>
                <li>無需搭乘飛機，步調輕鬆且不受時間壓力。</li>
                <li>船上設施完善，適合各年齡層的遊客。</li>
              </ul>
              <a href="about.html" class="vs-btn style4">更多資訊</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="img-box3">
              <img class="img1" src="assets/img/Shipment/02.jpg" alt="about image">
              <div class="bottom-img">
                <img class="img2" src="assets/img/Shipment/01.jpg" alt="about image">
                <img class="img3" src="assets/img/Shipment/03.jpg" alt="about image">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!--==============================
      About Area End
    ==============================-->

    <!--==============================
      Gallery Area Start
    ==============================-->
    <section class="space bg-light gallery2 shape-mockup-wrap">
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-top="20%" data-left="0%">
        <img src="assets/img/shape/visit-left.png" alt="svg">
      </div>
      <div class="shape-mockup d-none d-xl-block jump z-index-negative" data-top="20%" data-right="0%">
        <img src="assets/img/shape/visit-right.png" alt="svg">
      </div>
      <div class="shadow-color"></div>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="title-area">
              <h2 class="sec-title h1">美到令人屏息的花火大會</h2>
              <p class="sec-text">每年夏季，日本各地都會舉辦各式各樣的花火大會<br>在煙火冉冉升空的那一刻，留下璀璨的回憶</p>
            </div>
          </div>
        </div>
        <div class="gallery-style-2">
          <img src="assets/img/banner/homepage-big-3.jpg" alt="Gallery image">
          <a href="https://www.youtube.com/watch?v=s2Nq6X8UxNY" class="play-btn popup-video"><i
              class="fas fa-play"></i></a>
        </div>
      </div>
    </section>
    <!--==============================
      Gallery Area End
    ==============================-->

    <!--==============================
      Features Area Start
    ==============================-->
    <section class="space-extra-bottom shape-mockup-wrap">
      <div class="shape-mockup d-none d-xl-block ripple-animation z-index-negative" data-bottom="10%" data-right="13%">
        <img src="assets/img/shape/circle.png" alt="svg">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="features-style1">
              <div class="features-bg" data-bg-src="assets/img/shape/features.png"></div>
              <div class="features-image">
                <img src="assets/img/features/三大.png" alt="image">
              </div>
              <div class="features-content">
                <h3 class="features-title">三大煙火大會</h3>
                <p class="features-text">大曲煙火大會的前身是明治43年（1910年）大曲的諏訪神社所舉辦的煙火活動，當時是作為祭典的餘興節目，如今已成為代表整個秋田縣的夏季重要祭典活動。<br>
                  土浦全國煙火競技大會是於11月舉辦，是「日本三大煙火大會」中唯一非夏季舉行的，因此請特別留意。<br>
                  為了悼念昭和20年（1945）8月1日長岡空襲時身亡的民眾及為長岡重建祈願，於隔年起舉辦「長岡復興祭」。</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="features-style1">
              <div class="features-bg" data-bg-src="assets/img/shape/features.png"></div>
              <div class="features-image">
                <img src="assets/img/features/淀川.png" alt="image">
              </div>
              <div class="features-content">
                <h3 class="features-title">浪花淀川煙火大會</h3>
                <p class="features-text">每年3月在大阪市新淀川舉辦的「浪花淀川煙火大會」。煙火大會的資金來自淀川周邊企業與團體的捐款，由當地志工人員企劃和經營的手工煙火活動。
                  施放美麗巨大煙火球的「長排連發」，以及在水中施放、於水面倒映出半圓的「水中煙火」等，在規模之大讓人難以相信是都會舉行的活動中。能盡情觀賞以浩大煙火為背景的都市夜景之美。</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="features-style1">
              <div class="features-bg" data-bg-src="assets/img/shape/features.png"></div>
              <div class="features-image">
                <img src="assets/img/features/諏訪湖.png" alt="image">
              </div>
              <div class="features-content">
                <h3 class="features-title">諏訪湖祭湖上煙火大會</h3>
                <p class="features-text">第二次大戰結束後，市民們希望能早日重新再起，於1949年舉辦了第1屆煙火大會，此後每年的規模越來越大，現今成為有50萬名遊客造訪的大規模慶典。
                  大會的精彩亮點，是從湖面上施放出大量的煙火，及煙火爆發出盪氣迴腸的聲響。施放煙火的諏訪湖四面環山，煙火的聲響在山林間廻盪，能感受震撼的煙火聲，是一場兼具視覺與聽覺享受的煙火大會。</p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12">
            <div class="features-style1">
              <div class="features-bg" data-bg-src="assets/img/shape/features.png"></div>
              <div class="features-image">
                <img src="assets/img/features/隅田川.png" alt="image">
              </div>
              <div class="features-content">
                <h3 class="features-title">隅田川煙火大會</h3>
                <p class="features-text">每年10月舉辦為期5天的小規模分散型煙火活動，可前往觀看的機會也大為增加。整座海面上佈滿煙火，煙火墜落在海上的場景令人驚艷。
                  在觀賞會場的「美利堅公園」裡，隨著音樂施放煙火的「音樂煙火」也是精彩亮點之一。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--==============================
      Features Area End
    ==============================-->
