.page
{
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.orderthead
{
  text-align: center;
  font-size: 20px;
}
.ordertbody
{
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  height: 30px;
}
