
<div class="page">
  <h1 style="margin-bottom: 40px;"><b>訂單管理</b></h1>
  <ul class="nav nav-tabes page-tabe">
    <li class="page-item"><a class="page-link" href="#"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>已成立</b></a></li>
    <li class="page-item"><a class="page-link" href="#"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>取消中</b></a></li>
        <li class="page-item"><a class="page-link" href="#"
          style="color: #7B7B7B; border:none; font-size: 20px;"><b>已取消</b></a></li>
  </ul>
  <hr>
  <div class="container page-body">
    <!-- ======================================================================================== -->
    <table class="table caption-top">
      <caption><b>我的訂單</b></caption>
      <thead class="orderthead">
        <tr>
          <th scope="col">訂單編號</th>
          <th scope="col">訂購人員</th>
          <th scope="col">訂單狀態</th>
          <th scope="col">訂單時間</th>
          <th scope="col">總價</th>
          <th scope="col">付款方式</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="ordertbody" style="font-size: 15px;">
        <tr *ngFor="let item of MyOrderDTO">
          <td>{{item.orderNumber}}</td>
          <td>{{item.memberName}}</td>
          <td>{{item.orderStatus}}</td>
          <td>{{item.orderTime.substring(0,10)}}</td>
          <td>{{item.totalAmount}}</td>
          <td>{{item.paymentMethod}}</td>
          <td><button class="vs-btn mask-style1 style4 col-md-2" type="button" style="width: 130px;" (click)="goToOrderdetail(item.orderId)">訂單明細</button></td>
          <td><button class="vs-btn mask-style1 style4 col-md-2" type="button" style="width: 130px;background-color: red;">取消申請</button></td>
        </tr>
      </tbody>
    </table>











  </div>
</div>
