<!-- Blog details Content Area Start -->
<div class="vs-blog-wrapper vs-blog-details space-top space-extra-bottom">
  <div class="container">
    <div class="row gx-30">
      <div class="col-lg-8">
        <div class="vs-blog blog-single">



          <div class="blog-content" *ngIf="article">
            <div class="editdelete">
              <button class="vs-btn style4">編輯</button>
              <button class="vs-btn style4" (click)="deleteArticle(article.articleId)">刪除</button>
            </div>
            <h2 class="blog-title">{{ article.articleTitle }}</h2>
            <div class="blog-meta">
              <i class="fas fa-calendar-alt">發文日期</i> {{ article.launchTime | date: 'yyyy/MM/dd' }}



              <!-- 動態顯示會員圖片 -->
              <img *ngIf="article.imagePath" [src]="'https://localhost:7100/images/Member/' + article.imagePath"
                alt="blog author image" style="max-width: 45px; max-height: 45px; object-fit: cover;">

              <!-- 動態顯示會員名稱 -->
              <a href="#" class="author-name">{{ article.memberName }}</a>

            </div>

            <!-- 使用 innerHTML 渲染 HTML 內容 -->
            <p class="truncate" [innerHTML]="article.articleContent"></p>

            <!-- <div class="blog-img">
              <img src="assets/img/blog/Fukuoka.jpg" alt="blog image">
            </div> -->
            <blockquote class="vs-blockquote">
              <p>在非洲 每六十秒 就有一分鐘過去</p>
              <cite>第一任南非黑人總統 納爾遜‧曼德拉</cite>
            </blockquote>

            <!-- <div class="row">
                <div class="col-xl-4 col-md-6 col-12">
                  <div class="blog-inner-img">
                    <img src="assets/img/blog/blog1.jpg" alt="blog" class="w-100">
                  </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                  <div class="blog-inner-img">
                    <img src="assets/img/blog/blog2.jpg" alt="blog" class="w-100">
                  </div>
                </div>
                <div class="col-xl-4 col-md-6 col-12">
                  <div class="blog-inner-img">
                    <img src="assets/img/blog/blog3.jpg" alt="blog" class="w-100">
                  </div>
                </div>
              </div> -->

            <div class="clearfix share-links">
              <div class="row justify-content-between gy-30">
                <div class="col-xl-auto col-md-auto"
                  *ngIf="article.articleHashtags && article.articleHashtags.length > 0">
                  <span class="share-links-title">Hashtags:</span>
                  <div class="tagcloud">
                    <a *ngFor="let hashtag of article.articleHashtags" href="blog.html">{{ hashtag }}</a>
                  </div>
                </div>

                <div class="col-xl-auto col-md-auto">
                  <span class="share-links-title">Share:</span>
                  <ul class="social-links">
                    <li>
                      <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                  </ul>
                  <!-- End Social Share -->
                </div>
                <!-- Share Links Area end -->
              </div>
            </div>

            <div class="post-pagination">
              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <div class="post-pagi-box prev">
                    <a href="blog-details.html"><img src="assets/img/blog/previous-arrow.png" alt="pagi"></a>
                    <a href="blog-details.html" class="pagi-title">上一篇</a>
                  </div>
                </div>

                <div class="col">
                  <div class="post-pagi-box next">
                    <a href="blog-details.html"><img src="assets/img/blog/next-arrow.png" alt="pagi"></a>
                    <a href="blog-details.html" class="pagi-title">下一篇</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="vs-comments-wrap">
              <h2 class="blog-inner-title">留言</h2>
              <ul class="comment-list">
                <li class="vs-comment-item">
                  <div class="vs-post-comment">
                    <div class="comment-avater">
                      <img src="assets/img/blog/authorpic.png" alt="Comment Author">
                    </div>
                    <div class="comment-content">
                      <span class="commented-on"><i class="fal fa-calendar-alt"></i> 22 March, 2023
                      </span>
                      <h4 class="name h4">梅川伊芙</h4>
                      <p class="text">福岡很無聊ㄟ</p>
                      <div class="reply_and_edit">
                        <a href="#" class="replay-btn">修改 <i></i></a>
                        <a href="#" class="replay-btn">刪除 <i></i></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="vs-comment-item">
                  <div class="vs-post-comment">
                    <div class="comment-avater">
                      <img src="assets/img/blog/authorpic.png" alt="Comment Author">
                    </div>
                    <div class="comment-content">
                      <span class="commented-on"><i class="fal fa-calendar-alt"></i> 26 April, 2023</span>
                      <h4 class="name h4">稻澈入庫</h4>
                      <p class="text">日本94讚</p>
                      <div class="reply_and_edit">
                        <a href="#" class="replay-btn">修改 <i></i></a>
                        <a href="#" class="replay-btn">刪除 <i></i></a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <!-- Comment Form -->
            <div class="vs-comment-form">
              <div id="respond" class="comment-respond">
                <h3 class="blog-inner-title">留言吧~</h3>
                <div class="row">
                  <!-- <div class="col-md-6 form-group">
                    <input type="text" class="form-control" placeholder="Enter Your Name">
                  </div>
                  <div class="col-md-6 form-group">
                    <input type="email" class="form-control" placeholder="Email Address">
                  </div> -->
                  <div class="col-12 form-group">
                    <textarea class="form-control" placeholder="請輸入留言"></textarea>
                  </div>
                  <!-- <div class="col-12 ">
                    <div class="custom-checkbox notice">
                      <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox"
                        value="yes">
                      <label for="wp-comment-cookies-consent"> Save my name, email, and website in this browser for
                        the next time I comment.</label>
                    </div>
                  </div> -->
                  <div class="col-12 form-group">
                    <button class="vs-btn style4">送出留言</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-area">

          <!-- <div class="widget widget_search">
            <div class="widget_title">關鍵字查詢</div>
            <form class="search-form">
              <input type="text" placeholder="輸入關鍵字">
              <button type="submit"><i class="far fa-search"></i></button>
            </form>
          </div> -->

          <div class="widget">
            <h3 class="widget_title">最近發布</h3>
            <div class="recent-post-wrap">
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Fukuoka.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    福岡
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Okinawa.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    沖繩
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Tokyo.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    東京
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="widget widget_tag_cloud">
            <h3 class="widget_title">Hashtag</h3>
            <div class="tagcloud">
              <a href="blog.html">和牛</a>
              <a href="blog.html">燒肉</a>
              <a href="blog.html">丼飯</a>
              <a href="blog.html">壽喜燒</a>
              <a href="blog.html">壽司</a>
              <a href="blog.html">牛舌</a>
              <a href="blog.html">炸豬排</a>
              <a href="blog.html">天婦羅</a>
              <a href="blog.html">章魚燒</a>
              <a href="blog.html">拉麵</a>
            </div>
          </div>

          <div class="widget widget-social">
            <h3 class="widget_title">訂閱嗎?</h3>
            <div class="social-style widget_social_style">
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Details Content Area End -->
