<div class="page">
  <h1 style="margin-bottom: 40px;"><b>帳號設定</b></h1>
  <ul class="nav nav-tabes page-tabe">
    <li class="page-item"><a class="page-link" href="#"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>基本資料</b></a></li>
    <li class="page-item"><a class="page-link" href="#"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>帳號安全</b></a></li>
  </ul>
  <hr>
  <div class="container page-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 form-group">
          <label>中文姓名*</label>
          <input type="text" class="form-control" [(ngModel)]="loginTransfer.ChineseName" (focus)="focus()" placeholder="中文姓名">
          <P class="text-danger">{{ErrorMessage.NameErrMsg}}</P>
        </div>
        <div class="col-md-4 form-group">
          <label>英文姓名</label>
          <input type="text" class="form-control" [(ngModel)]="loginTransfer.EnglishName" (focus)="focus()" placeholder="英文姓名">
          <P class="text-danger">{{ErrorMessage.EnglishNameErrMsg}}</P>
        </div>
        <div class="col-md-4 form-group">
          <label>性別</label>
          <select class="form-select" [(ngModel)]="loginTransfer.Gender">
            <option disabled>請選擇</option>
            <option value="true">男</option>
            <option value="false">女</option>
          </select>
        </div>
      </div>
    </div>
    <!-- ================================================================================== -->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 form-group">
          <label>出生日期</label>
          <input type="date" class="form-control" [(ngModel)]="loginTransfer.Birthday" placeholder="YYYY/MM/DD">
        </div>
        <div class="col-md-4 form-group">
          <label>地區</label>
          <select class="form-select" [(ngModel)]="loginTransfer.CityAreaId" (change)="getcity()">
            <option>請選擇</option>
            <option *ngFor="let area of cityAreas" [value]="area.cityAreaId">{{area.cityAreaName}}</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label>城市</label>
          <select class="form-select" [(ngModel)]="loginTransfer.CityId">
            <option>請選擇</option>
            <option *ngFor="let city of citys" [value]="city.cityId">{{city.cityName}}</option>
          </select>
        </div>
      </div>
    </div>
    <!-- ================================================================================== -->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 form-group">
          <label>電話號碼</label>
          <input type="text" class="form-control" [(ngModel)]="loginTransfer.Phone" (focus)="focus()">
          <P class="text-danger">{{ErrorMessage.PhoneErrMsg}}</P>
        </div>
        <div class="col-md-8 form-group">
          <label>聯絡 Email*</label>
          <input type="Email" class="form-control" [(ngModel)]="loginTransfer.Email" (focus)="focus()">
          <P class="text-danger">{{ErrorMessage.EmailErrMsg}}</P>
        </div>
      </div>
    </div>
    <!-- ================================================================================== -->
    <div class="col-md-12">
      <div class="row justify-content-end">
        <button class="vs-btn mask-style1 style4 col-md-2" type="button" (click)="save()">儲存</button>
        <button class="vs-btn mask-style1 style4 col-md-2" type="button" (click)="cancel()" style="margin-left: 20px;">取消</button>
      </div>
    </div>
    <div style="margin-top: 30px;">
      <button (click)="DemoError()">DemoError</button>
      <button (click)="Demo()">Demo</button>
     </div>
  </div>
</div>
