<footer class="footer-layout4 shape-mockup-wrap" style="background-image: url('/assets/img/bg/footer-bg-4.jpg')">
  <div class="container ">
    <div class="footer-newsletter2">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="footer-logo text-center d-block text-md-start">
            <a href="index.html"><img src="../assets/img/jam_logo.png" alt="J.A.M" class="logo" /></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="social-style1 text-center text-md-end">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-area2">
    <div class="container">
      <div class="row g-5 justify-content-between">
        <div class="col-md-6 col-xl-3">
          <div class="widget footer-widget">
            <div class="vs-widget-about">
              <h3 class="widget_title">關於J.A.M</h3>
              <p class="footer-text">集結日本各大體驗活動的旅遊平台，在這邊您可以自主選擇喜歡的活動參與</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">認識J.A.M</h3>
            <div class="menu-all-pages-container">
              <ul class="menu">
                <li><a href="index.html">關於我們</a></li>
                <li><a href="destinations.html">最新消息</a></li>
                <li><a href="tours.html">旅遊消息</a></li>
                <li><a href="blog.html">隱私政策</a></li>
                <li><a href="blog.html">加入我們</a></li>
                <li><a href="blog.html">客服專區</a></li>
                <li><a href="blog.html">聯絡我們</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4">
          <div class="widget footer-widget">
            <h4 class="widget_title">訂閱我們</h4>
            <form class="newsletter-form">
              <p class="form_text">立即訂閱來取得最新優惠及最新消息</p>
              <input class="form-control" type="email" placeholder="您的信箱" />
              <button type="submit" class="vs-btn style5">立即訂閱</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright-wrap">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-auto">
          <p class="copyright-text">Copyright <i class="fal fa-copyright"></i>
            <script>document.write(new Date().getFullYear())</script> <a href="index.html">J.A.M</a>.
            All Rights Reserved
          </p>
        </div>
        <!-- <div class="col-auto d-none d-lg-block">
          <div class="copyright-menu">
            <ul class="list-unstyled">
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</footer>
