<!-- Blog Content Area Start -->
<div class="vs-blog-wrapper space-top space-extra-bottom">
  <div class="container">
    <div class="row gx-30">
      <div class="col-lg-8">
        <div class="row">

          <div *ngIf="displayedArticles.length > 0; else noArticles">
            <div *ngFor="let item of displayedArticles" class="col-xl-6 col-md-6 col-sm-12 col-12">
              <div class="vs-blog blog-style2">
                <div class="blog-img">
                  <a href="#"><img src="assets/img/blog/Fukuoka.jpg" alt="blog image"></a>
                  <div class="blog-inner-author">

                    <img src="assets/img/blog/authorpic.png" alt="blog author image">
                    <a href="#" class="author-name">森上梅友前</a>




                    <span class="author-degi"></span>
                  </div>
                </div>
                <div class="blog-content">
                  <h2 class="blog-title">{{item.articleTitle}}</h2>
                  <p class="truncate">{{item.articleContent}}</p>
                  {{memberName}}
                  {{imagePath}}
                  <img [src]="imagePath">
                  <div class="blog-bottom">
                    <div>
                      <i class="fas fa-calendar-alt">發文日期</i> {{item.launchTime| date:'yyyy/MM/dd'}}
                    </div>
                    <div>
                      <i class="fas fa-calendar-alt">最新修改日期</i>{{item.lastUpdateTime | date:'yyyy/MM/dd'}}
                    </div>
                    <a [routerLink]="['/blog-detail', item.articleId]" class="vs-btn has-arrow">看全文<i class="fal fa-arrow-right"></i></a>

                  </div>
                  <li *ngFor="let articleHashtag of item.articleHashtags;" >
                    {{articleHashtag}}
                  </li>
                </div>
              </div>
            </div>
          </div>

          <ng-template #noArticles>
            <div>没有文章可显示。</div>
          </ng-template>

          <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="vs-blog blog-style2">
              <div class="blog-img">
                <a href="blog-details.html"><img src="assets/img/blog/Okinawa.jpg" alt="blog image"></a>
                <div class="blog-inner-author">
                  <img src="assets/img/blog/authorpic.png" alt="blog author image">
                  <a href="blog-details.html" class="author-name">梅川伊芙</a>
                  <span class="author-degi"></span>
                </div>
              </div>
              <div class="blog-content">
                <h2 class="blog-title">沖繩</h2>
                <p>位於沖繩海洋博公園內，是非常受到歡迎的觀光景點。從建築物的4F搭乘手扶梯抵達3F後，即是水族館的入口。往2F、1F移動時，感覺就像是往深海裡前進的感覺。</p>
                <div class="blog-bottom">
                  <div>
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                   </div>
                   <div>
                    <i class="fas fa-calendar-alt">最新修改日期</i> July 21, 2023
                   </div>
                  <a class="vs-btn has-arrow" href="blog-details.html">看全文 <i
                      class="fal fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="vs-blog blog-style2">
              <div class="blog-img">
                <a href="blog-details.html"><img src="assets/img/blog/Sapporo.jpg" alt="blog image"></a>
                <div class="blog-inner-author">
                  <img src="assets/img/blog/authorpic.png" alt="blog author image">
                  <a href="blog-details.html" class="author-name">宮美村掐</a>
                  <span class="author-degi"></span>
                </div>
              </div>
              <div class="blog-content">
                <h2 class="blog-title">札幌</h2>
                <p>在這裡不僅可以參觀「白色戀人」的生產線，還能親手體驗製作只屬於自己的白色戀人甜點。</p>
                <div class="blog-bottom">
                  <div>
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                   </div>
                   <div>
                    <i class="fas fa-calendar-alt">最新修改日期</i> July 21, 2023
                   </div>
                  <a class="vs-btn has-arrow" href="blog-details.html">看全文 <i
                      class="fal fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="vs-blog blog-style2">
              <div class="blog-img">
                <a href="blog-details.html"><img src="assets/img/blog/Tokyo.jpg" alt="blog image"></a>
                <div class="blog-inner-author">
                  <img src="assets/img/blog/authorpic.png" alt="blog author image">
                  <a href="blog-details.html" class="author-name">五告美頌</a>
                  <span class="author-degi"></span>
                </div>
              </div>
              <div class="blog-content">
                <h2 class="blog-title">東京</h2>
                <p>高達634公尺，坐落於東京晴空塔城中心。在塔內的350公尺和450公尺處分別設有「天望甲板」和「天望迴廊」兩個觀景台。</p>
                <div class="blog-bottom">
                  <div>
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                   </div>
                   <div>
                    <i class="fas fa-calendar-alt">最新修改日期</i> July 21, 2023
                   </div>
                  <a class="vs-btn has-arrow" href="blog-details.html">看全文 <i
                      class="fal fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="vs-blog blog-style2">
              <div class="blog-img">
                <a href="blog-details.html"><img src="assets/img/blog/Osaka.jpg" alt="blog image"></a>
                <div class="blog-inner-author">
                  <img src="assets/img/blog/authorpic.png" alt="blog author image">
                  <a href="blog-details.html" class="author-name">稻澈入庫</a>
                  <span class="author-degi"></span>
                </div>
              </div>
              <div class="blog-content">
                <h2 class="blog-title">大阪</h2>
                <p>以難波為中心的南區，匯集了代表章魚燒、御好燒等大阪美食的「道頓堀」；以固力果跑跑人為地標，購物天國的「心齋橋」等，處處都能感受到大阪風情。</p>
                <div class="blog-bottom">
                  <div>
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                   </div>
                   <div>
                    <i class="fas fa-calendar-alt">最新修改日期</i> July 21, 2023
                   </div>
                  <a class="vs-btn has-arrow" href="blog-details.html">看全文 <i
                      class="fal fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-6 col-sm-12 col-12">
            <div class="vs-blog blog-style2">
              <div class="blog-img">
                <a href="blog-details.html"><img src="assets/img/blog/Sendai.jpg" alt="blog image"></a>
                <div class="blog-inner-author">
                  <img src="assets/img/blog/authorpic.png" alt="blog author image">
                  <a href="blog-details.html" class="author-name">宇多田光</a>
                  <span class="author-degi"></span>
                </div>
              </div>
              <div class="blog-content">
                <h2 class="blog-title">仙台</h2>
                <p>位於仙台港附近，是日本東北地區規模最大的水族館。</p>
                <div class="blog-bottom" >
                  <div>
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                   </div>
                   <div>
                    <i class="fas fa-calendar-alt">最新修改日期</i> July 21, 2023
                   </div>
                  <a class="vs-btn has-arrow" href="blog-details.html">看全文 <i
                      class="fal fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div> -->

        </div>
        <div class="vs-pagination pt-lg-2">
          <ul>
            <li><a href="#"><i class="fas fa-chevron-left"></i></a></li>

            <li><a href="#"><i class="fas fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar-area">

          <div class="widget widget_search">
            <div class="widget_title">關鍵字查詢</div>
            <form class="search-form" (ngSubmit)="searchArticles()">

              <input [(ngModel)]="keyword" name="keyword" type="text" placeholder="輸入關鍵字" required>
              <button type="submit">
                <i class="far fa-search"></i>
              </button>
            </form>

            <!-- 显示符合条件文章的数量 -->
            <div *ngIf="displayedArticles.length > 0">
              <p>找到 {{ displayedArticles.length }} 篇符合的文章</p>
            </div>

            <!-- 如果没有找到文章 -->
            <div *ngIf="displayedArticles.length === 0 && keyword.trim()">
              <p>找不到符合的文章。</p>
            </div>
          </div>

          <div class="widget">
            <h3 class="widget_title">最近發布</h3>
            <div class="recent-post-wrap">
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Fukuoka.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    福岡
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Okinawa.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    沖繩
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
              <div class="recent-post">
                <div class="media-img">
                  <a href="blog-details.html">
                    <img src="assets/img/blog/Tokyo.jpg" alt="Blog Image">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="post-title">
                    東京
                  </h4>
                  <div class="recent-post-meta">
                    <i class="fas fa-calendar-alt">發文日期</i> July 21, 2023
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="widget widget_categories">
            <h3 class="widget_title">分類</h3>
            <ul>
              <li><a class="active" href="#">Adventure</a> <span>(10)</span></li>
              <li><a href="#">Food</a> <span>(5)</span></li>
              <li><a href="#">New Year</a> <span>(8)</span></li>
              <li><a href="#">Summer</a> <span>(3)</span></li>
              <li><a href="#">Travel</a> <span>(9)</span></li>
            </ul>
          </div> -->

          <!-- <div class="widget widget-newsletter">
            <h3 class="widget_title">Newsletter</h3>
            <form class="newsletter-form">
              <input class="form-control" type="email" placeholder="Enter Your Email" />
              <button type="submit" class="vs-btn style4">Submit</button>
            </form>
          </div> -->

          <div class="widget widget_tag_cloud">
            <h3 class="widget_title">Hashtag</h3>
            <div class="tagcloud">
              <!-- 动态加载标签 -->
              <a *ngFor="let hashtag of hashtags" href="javascript:void(0)" (click)="loadArticlesByHashtag(hashtag)">
                {{ hashtag.name }}
              </a>
            </div>
          </div>



          <div class="widget widget-social">
            <h3 class="widget_title">訂閱嗎?</h3>
            <div class="social-style widget_social_style">
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Blog Content Area End -->
