<section class="vs-product-wrapper space">
  <div class="container">
    <div class="product-details" *ngIf="itineraryDetail">
      <div class="row gx-60">
        <div class="col-lg-5">
          <div class="product-big-img">
            <img [src]="selectedImage" alt="Product Image">
          </div>
          <div class="product-thumb-slide">
            <div *ngFor="let image of images; let i = index" class="thumb" [ngClass]="{ 'active': i === selectedIndex }">
              <img [src]="image" (click)="selectImage(i)" alt="Product Thumb Image">
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="product-about">
            <div class="product-rating">
              <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>

            <h2 class="product-title">
              {{itineraryDetail.itineraryName}}
            </h2>
            <p class="product-price">{{itineraryDetail.price | currency:'TWD':'symbol': '1.0-0'}}</p>
            <p class="product-text">
             {{itineraryDetail.itineraryBrief}}
            </p>
            <div class="calendar-container">
              <!-- 時間說明 -->
              <!-- 日曆導航 -->
              <div class="calendar-navigation">
                <button mat-icon-button (click)="previousMonth()">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <span class="current-month">{{viewDate | date:'yyyy年MM月'}}</span>
                <button mat-icon-button (click)="nextMonth()">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>

              <!-- 日曆視圖 -->
              <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="events"
                [cellTemplate]="customCell"
                (dayClicked)="onDayClicked($event.day)">
              </mwl-calendar-month-view>

              <!-- 自定義日期單元格模板 -->
              <ng-template #customCell let-day="day">
                <div class="cal-cell-top">
                  <span class="cal-day-number">{{day.date | date:'d'}}</span>
                  <div class="event-indicator" *ngIf="hasAvailableStock(day)">
                    <span class="available-date-marker"
                          [class.has-stock]="hasAvailableStock(day)"
                          [class.no-stock]="!hasAvailableStock(day)">
                    </span>
                    <img width="35px" height="35px"  style="margin:10px" src="assets/img/icons/circle_icon.png" alt="circleIcon">
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="time-selection" *ngIf="selectedDate && selectedDateTimes.length > 0">
              <h4>{{selectedDate | date:'yyyy/MM/dd'}} 可選時段:</h4>
              <div class="time-slots">
                <div *ngFor="let time of selectedDateTimes" class="time-slot">
                  <button style="margin-bottom: 5px;" class="time-button"
                          [class.disabled]="!hasTimeSlotStock(time)"
                          [disabled]="!hasTimeSlotStock(time)"
                          [class.selected]="isSelectedTime(time)"
                          (click)="selectDateTime(time, getBatchForTime(time))">
                    {{time}}
                    <span class="stock-status">
                      {{hasTimeSlotStock(time)? '可預約' : '已滿團'}}
                    </span>
                  </button>
                </div>
                <p style="margin-top: 10px;">選擇時段：{{selectedTime}}</p>
              </div>
            </div>
            <div class="actions">
              <div class="quantity">
                <button class="quantity-minus qty-btn" (click)="decreaseQuantity()">
                  <i class="fal fa-minus"></i>
                </button>
                <input type="number" id="quantity" class="qty-input" step="1" min="1" max="100" name="quantity"
                       [value]="quantity" (input)="updateQuantity($any($event).target.value)"> <!--使用 $any 類型轉換函數-->
                <button class="quantity-plus qty-btn" (click)="increaseQuantity()">
                  <i class="fal fa-plus"></i>
                </button>

              </div>
              <button class="vs-btn style4" (click)="addToCart()">加入購物車</button>
              <button class="vs-btn style4">立即報名</button>
              <a href="cart.html" class="icon-btn"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-wrap">
        <ul class="nav product-tab1" id="productTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">體驗行程詳情</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="rviews-tab" data-bs-toggle="tab" href="#rviews" role="tab" aria-controls="rviews"
              aria-selected="true">行程評價 (02 )</a>
          </li>
        </ul>
        <div class="tab-content" id="productTabContent">
          <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="inner-pane">
              <p *ngFor="let detail of getItineraryDetails()">
                <span class="description-text">{{ detail }}</span>
              </p>
            </div>
          </div>
          <div class="tab-pane fade" id="rviews" role="tabpanel" aria-labelledby="review-tab">
            <div class="inner-pane">
              <div class="woocommerce-Reviews">
                <div class="vs-comments-wrap">
                  <ul class="comment-list">
                    <li class="review vs-comment-item">
                      <div class="vs-post-comment">
                        <div class="comment-avater">
                          <img src="assets/img/blog/comment-author-1.jpg" alt="reviewer image">
                        </div>
                        <div class="comment-content">
                          <div class="star-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                          <h4 class="name h4">Crish Thomas</h4>
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit purus vel, of a
                            viveirra facilisi neque quisque. Phasellus aliquam ut a id rhogncus. In viverra sed vitae
                            vivamus amet, nuncg vivamus. </p>
                          <span class="comment-date">Published 1 day ago</span>
                        </div>
                      </div>
                    </li>
                    <li class="review vs-comment-item">
                      <div class="vs-post-comment">
                        <div class="comment-avater">
                          <img src="assets/img/blog/comment-author-3.jpg" alt="reviewer image">
                        </div>
                        <div class="comment-content">
                          <div class="star-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                          <h4 class="name h4">Malisha Beco</h4>
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit purus vel, of a
                            viveirra facilisi neque quisque. Phasellus aliquam ut a id rhogncus. In viverra sed vitae
                            vivamus amet, nuncg vivamus. </p>
                          <span class="comment-date">Published 1 day ago</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Comment Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!--==============================
      Destiniations Area Start
  ==============================-->
  <section class="space space-extra-bottom bg-light shape-mockup-wrap" data-bg-src="assets/img/shape/Bg.png">
    <div class="shape-mockup d-none d-xl-block spin z-index-negative" data-top="-20%" data-right="-8%">
      <img src="assets/img/shape/circle1.png" alt="circle">
    </div>
    <div class="shape-mockup d-none d-xl-block  z-index-negative" data-bottom="13%" data-left="0%">
      <img src="assets/img/shape/walk.png" alt="circle">
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 col-md-8">
          <div class="title-area">
            <h2 class="sec-title h1">推薦體驗行程</h2>
            <p class="sec-text">根據您的喜好，或許以下體驗你也會喜歡</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="sec-btns">
            <button class="icon-btn" data-slick-prev=".destinationSlide"><i class="fas fa-chevron-left"></i></button>
            <button class="icon-btn" data-slick-next=".destinationSlide"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
      <div class="row destinationSlide vs-carousel" data-slide-show="3" data-arrows="false" data-lg-slide-show="2"
          data-md-slide-show="2" data-sm-slide-show="1">
          <div class="col-xl-4" *ngFor="let related of relatedTours">
          <div class="destination-style1">
            <a [routerLink]="['/itinerary', related.itinerarySystemId]">
              <img [src]="related.imagePath || 'assets/img/destinations/destinations-1-1.jpg'"
                  [alt]="related.itineraryName">
            </a>
            <span class="destination-price">{{ related.price | currency:'TWD':'symbol-narrow':'1.0-0' }}</span>
            <div class="destination-info">
              <h4 class="destination-name">
                <a [routerLink]="['/itinerary', related.itinerarySystemId]">
                  {{ related.itineraryName }}
                </a>
              </h4>
              <p class="destination-text">{{ related.areaName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--==============================
      Destinations Area End
  ==============================-->
