<section class="vs-product-wrapper space">
  <div class="container">
    <div class="product-details" *ngIf="itineraryDetail">
      <div class="row gx-60">
        <div class="col-lg-5">
          <div class="product-big-img vs-carousel" data-slide-show="1" data-arrows="false" data-fade="true"
            data-asnavfor=".product-thumb-slide">
            <div class="img"><img src="assets/img/products/Tokyo Tower observatories.jpg" alt="Product Image"></div>
            <!-- <div class="img"><img src="assets/img/products/pd-1.png" alt="Product Image"></div>
            <div class="img"><img src="assets/img/products/pd-4.png" alt="Product Image"></div>
            <div class="img"><img src="assets/img/products/pd-3.png" alt="Product Image"></div>
            <div class="img"><img src="assets/img/products/pd-1.png" alt="Product Image"></div> -->
          </div>
          <div class="row product-thumb-slide vs-carousel" data-slide-show="4" data-md-slide-show="4"
            data-sm-slide-show="3" data-xs-slide-show="3" data-asnavfor=".product-big-img">
            <!-- <div class="col-lg-2">
              <div class="thumb"><img src="assets/img/products/pd-thumb-1.png" alt="Product Thumb Image"></div>
            </div> -->
            <div class="col-lg-3">
              <div class="thumb"><img src="assets/img/products/pd-thumb-2.jpg" alt="Product Thumb Image"></div>
            </div>
            <div class="col-lg-3">
              <div class="thumb"><img src="assets/img/products/pd-thumb-3.jpg" alt="Product Thumb Image"></div>
            </div>
            <div class="col-lg-3">
              <div class="thumb"><img src="assets/img/products/pd-thumb-4.jpg" alt="Product Thumb Image"></div>
            </div>
            <div class="col-lg-3">
              <div class="thumb"><img src="assets/img/products/pd-thumb-1.jpg" alt="Product Thumb Image"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="product-about">
            <div class="product-rating">
              <div class="star-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>

            <h2 class="product-title">
              {{itineraryDetail.itineraryName}}
            </h2>
            <p class="product-price">{{itineraryDetail.price | currency:'TWD':'symbol': '1.0-0'}}</p>
            <p class="product-text">
             {{itineraryDetail.itineraryBrief}}
            </p>
            <div class="calendar-container">
              <!-- 時間說明 -->
              <!-- 日曆導航 -->
              <div class="calendar-navigation">
                <button mat-icon-button (click)="previousMonth()">
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <span class="current-month">{{viewDate | date:'yyyy年MM月'}}</span>
                <button mat-icon-button (click)="nextMonth()">
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>

              <!-- 日曆視圖 -->
              <mwl-calendar-month-view
              [viewDate]="viewDate"
              [events]="events"
              [cellTemplate]="customCell"
              (dayClicked)="onDayClicked($event.day)">
            </mwl-calendar-month-view>

              <!-- 自定義日期單元格模板 -->
              <ng-template #customCell let-day="day">
                <div class="cal-cell-top">
                  <span class="cal-day-number">{{day.date | date:'d'}}</span>
                  <div class="event-indicator" *ngIf="hasAvailableStock(day)">
                    <span class="available-date-marker"
                          [class.has-stock]="hasAvailableStock(day)"
                          [class.no-stock]="!hasAvailableStock(day)">
                      ●
                    </span>
                  </div>
                </div>
              </ng-template>
            </div>
            <div class="time-selection" *ngIf="selectedDate && selectedDateTimes.length > 0">
              <h4>{{selectedDate | date:'yyyy/MM/dd'}} 可選時間:</h4>
              <div class="time-slots">
                <div *ngFor="let time of selectedDateTimes" class="time-slot">
                  <button class="time-button"
                          [class.disabled]="!hasTimeSlotStock(time)"
                          [disabled]="!hasTimeSlotStock(time)">
                    {{time}}
                    <span class="stock-status">
                      {{hasTimeSlotStock(time) ? '可預約' : '已滿'}}
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="quantity">
                <button class="quantity-minus qty-btn" (click)="decreaseQuantity()">
                  <i class="fal fa-minus"></i>
                </button>
                <input type="number" id="quantity" class="qty-input" step="1" min="1" max="100" name="quantity"
                       [value]="quantity" (input)="updateQuantity($any($event).target.value)"> <!--使用 $any 類型轉換函數-->
                <button class="quantity-plus qty-btn" (click)="increaseQuantity()">
                  <i class="fal fa-plus"></i>
                </button>
              </div>
              <button class="vs-btn style4" (click)="addToCart()">加入購物車</button>
              <button class="vs-btn style4">立即報名</button>
              <a href="cart.html" class="icon-btn"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-wrap">
        <ul class="nav product-tab1" id="productTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">體驗行程詳情</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="rviews-tab" data-bs-toggle="tab" href="#rviews" role="tab" aria-controls="rviews"
              aria-selected="true">行程評價 (02 )</a>
          </li>
        </ul>
        <div class="tab-content" id="productTabContent">
          <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="inner-pane">
              <p class="description-text">{{itineraryDetail.itineraryDetail}}</p>

            </div>
          </div>
          <div class="tab-pane fade" id="rviews" role="tabpanel" aria-labelledby="review-tab">
            <div class="inner-pane">
              <div class="woocommerce-Reviews">
                <div class="vs-comments-wrap">
                  <ul class="comment-list">
                    <li class="review vs-comment-item">
                      <div class="vs-post-comment">
                        <div class="comment-avater">
                          <img src="assets/img/blog/comment-author-1.jpg" alt="reviewer image">
                        </div>
                        <div class="comment-content">
                          <div class="star-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                          <h4 class="name h4">Crish Thomas</h4>
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit purus vel, of a
                            viveirra facilisi neque quisque. Phasellus aliquam ut a id rhogncus. In viverra sed vitae
                            vivamus amet, nuncg vivamus. </p>
                          <span class="comment-date">Published 1 day ago</span>
                        </div>
                      </div>
                    </li>
                    <li class="review vs-comment-item">
                      <div class="vs-post-comment">
                        <div class="comment-avater">
                          <img src="assets/img/blog/comment-author-3.jpg" alt="reviewer image">
                        </div>
                        <div class="comment-content">
                          <div class="star-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                          </div>
                          <h4 class="name h4">Malisha Beco</h4>
                          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit purus vel, of a
                            viveirra facilisi neque quisque. Phasellus aliquam ut a id rhogncus. In viverra sed vitae
                            vivamus amet, nuncg vivamus. </p>
                          <span class="comment-date">Published 1 day ago</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Comment Form -->
              <div class="vs-comment-form">
                <div id="respond" class="comment-respond">
                  <h3 class="blog-inner-title">Add a review</h3>

                  <div class="row">
                    <div class="form-group rating-select">
                      <label>Your Rating</label>
                      <p class="stars">
                        <span>
                          <a class="star-1" href="#">1</a>
                          <a class="star-2" href="#">2</a>
                          <a class="star-3" href="#">3</a>
                          <a class="star-4" href="#">4</a>
                          <a class="star-5" href="#">5</a>
                        </span>
                      </p>
                    </div>

                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" placeholder="Enter Your Name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="col-12 form-group">
                      <textarea class="form-control" placeholder="Write Your Comment"></textarea>
                    </div>
                    <div class="col-12 ">
                      <div class="custom-checkbox notice">
                        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox"
                          value="yes">
                        <label for="wp-comment-cookies-consent"> Save my name, email, and website in this browser for
                          the next time I comment.</label>
                      </div>
                    </div>
                    <div class="col-12 form-group">
                      <button class="vs-btn style4 w-100">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!--==============================
      Destiniations Area Start
  ==============================-->
  <section class="space space-extra-bottom bg-light shape-mockup-wrap" data-bg-src="assets/img/shape/Bg.png">
    <div class="shape-mockup d-none d-xl-block spin z-index-negative" data-top="-20%" data-right="-8%">
      <img src="assets/img/shape/circle1.png" alt="circle">
    </div>
    <div class="shape-mockup d-none d-xl-block  z-index-negative" data-bottom="13%" data-left="0%">
      <img src="assets/img/shape/walk.png" alt="circle">
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 col-md-8">
          <div class="title-area">
            <h2 class="sec-title h1">推薦體驗行程</h2>
            <p class="sec-text">根據您的喜好，或許以下體驗你也會喜歡</p>
          </div>
        </div>
        <div class="col-auto">
          <div class="sec-btns">
            <button class="icon-btn" data-slick-prev=".destinationSlide"><i class="fas fa-chevron-left"></i></button>
            <button class="icon-btn" data-slick-next=".destinationSlide"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
      <div class="row destinationSlide vs-carousel" data-slide-show="3" data-arrows="false" data-lg-slide-show="2"
          data-md-slide-show="2" data-sm-slide-show="1">
          <div class="col-xl-4" *ngFor="let related of relatedTours">
          <div class="destination-style1">
            <a [routerLink]="['/itinerary', related.itinerarySystemId]">
              <img [src]="related.imagePath || 'assets/img/destinations/destinations-1-1.jpg'"
                  [alt]="related.itineraryName">
            </a>
            <span class="destination-price">{{ related.price | currency:'TWD':'symbol-narrow':'1.0-0' }}</span>
            <div class="destination-info">
              <h4 class="destination-name">
                <a [routerLink]="['/itinerary', related.itinerarySystemId]">
                  {{ related.itineraryName }}
                </a>
              </h4>
              <p class="destination-text">{{ related.areaName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--==============================
      Destinations Area End
  ==============================-->
