<div class="signup-wrapper  space">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 ">
        <form action="#" class="signup-form bg-smoke">
          <h2 class="form-title text-center mb-lg-35">登入JAM</h2>
          <div class="form-group mt-5">
            <label for="loginUserId" class="sr-only">電子郵件*</label>
            <input type="text" [(ngModel)]="loginTransfer.email" (focus)="focus()" name="InputEmail"
              class="form-control" placeholder="電子郵件*" required>
            <P class="text-danger">{{ErrorMessage.ErrorEmail}}</P>
          </div>
          <div class="form-group">
            <label for="loginUserPass" class="sr-only">密碼*</label>
            <input type="password" [(ngModel)]="loginTransfer.password" (focus)="focus()" name="InputPassword"
              class="form-control" placeholder="密碼*" required>
            <P class="text-danger">{{ErrorMessage.ErrorPassword}}</P>
          </div>
          <div class="form-group">
            <input type="checkbox" name="signUpTerms" id="signUpTerms" (click)="check()">
            <label for="signUpTerms">記住我</label>
          </div>
          <div id="recaptcha-container"></div>
          <div class="form-group mb-0 text-center" style="margin-top: 30px;">
            <button class="vs-btn mask-style1 w-100 style4" type="button" (click)="Login()">Login</button>
            <div class="bottom-links link-inherit d-md-flex justify-content-between mt-3">
              <a (click)="loginBygoogle()" class="recovery-link mb-2 mb-md-0">使用Google帳號登入</a>
              <a (click)="goToForgerpassword()" class="recovery-link mb-2 mb-md-0">忘記密碼?</a>
              <a (click)="goToSignup()" class="recovery-link mb-2 mb-md-0">還未加入JAM嗎? 立即註冊!</a>
            </div>
            <div style="margin-top: 30px;">
             <button (click)="DemoWin()">DemoWin</button>
             <button (click)="DemoDora()">DemoDora</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
