<div class="page">
  <h1 style="margin-bottom: 40px;"><b>我的優惠券</b></h1>
  <ul class="nav nav-tabes page-tabe">
    <li class="page-item"><a class="page-link" (click)="changetoA()"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>可使用</b></a></li>
    <li class="page-item"><a class="page-link" (click)="changetoB()"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>已使用</b></a></li>
    <li class="page-item"><a class="page-link" (click)="changetoC()"
        style="color: #7B7B7B; border:none; font-size: 20px;"><b>可領取</b></a></li>
  </ul>
  <hr>
<!-- ================================================================================================================= -->
  <div [ngSwitch]="selectedSection">
    <!-- 可使用 -->
    <div class="container page-body" *ngSwitchCase="'可使用'">
      <div class="col-md-12">
        <!-- =======卡片========================================= -->
        <div class="row" style="margin-top: 30px;">
          <div *ngFor="let item of allmycoupon" class="card col-md-5" style="margin-left: 30px; margin-top: 30px; border-radius: 10px;">
            <div class="card-body">
              <h5 class="card-title">{{item.couponName}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">折扣 NT {{item.discount}} 元</h6>
              <p class="card-text">可使用</p>
              <hr>
              <p>有效期限至: {{item.expirationDate}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- ============================================================================================================================ -->
    <div class="container page-body" *ngSwitchCase="'已使用'">
      <div class="col-md-12">
        <!-- =======卡片========================================= -->
        <div class="row" style="margin-top: 30px;">
          <div *ngFor="let item of allmyusedcoupon" class="card col-md-5" style="margin-left: 30px; margin-top: 30px; border-radius: 10px; background-color: 	#FCFCFC; color: #6C6C6C;">
            <div class="card-body">
              <h5 class="card-title">{{item.couponName}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">折扣 NT {{item.discount}} 元</h6>
              <p class="card-text" style="color: red;">已使用</p>
              <hr>
              <p>有效期限至: {{item.expirationDate}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- //============================================================================================================== -->
    <div class="container page-body" *ngSwitchCase="'可領取'">
      <div class="col-md-12">
        <!-- =======卡片========================================= -->
        <div class="row" style="margin-top: 30px;">
          <div *ngFor="let item of allmyavailablecoupon" class="card col-md-5" style="margin-left: 30px; margin-top: 30px; border-radius: 10px;" (click)="getCoupon(item.couponId)" >
            <div class="card-body">
              <h5 class="card-title">{{item.couponName}}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">折扣 NT {{item.discount}} 元</h6>
              <b class="card-text" style="color: red;">請點擊領取優惠券!</b>
              <hr>
              <p>有效期限至: {{item.expirationDate}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>



<!-- //========================================================================================================== -->
  </div>
</div>


