<div class="breadcumb-wrapper" style="padding:50px 0px">
  <h1 class="breadcumb-title" style="margin-left: 10%;">付款成功</h1>
</div>

<div style="padding: 30px; height: 400px;">
  <h3 style="text-align: center;">訂單編號 20241027 已成立</h3>

  <div style="padding-top: 30px; display: flex; justify-content: center;">
    <button class="vs-btn style4" (click)="goToHomePage()" style="margin: 2%;">回首頁</button>
    <button class="vs-btn style4" (click)="goToMyOrder()" style="margin: 2%;">查看訂單</button>
  </div>
</div>
