<!doctype html>
<html lang="en">

<body>
 <!--==============================
	  Destination Details Area Start
	==============================-->
<section class="space">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="destination-details">
            <h2 class="ds-title">那霸</h2>
            <div class="ds-img1">
              <img src="assets/img/Shipment/15.jpg" alt="image">
            </div>
            <p class="ds-text">位於日本沖繩縣的那霸市是充滿活力的熱帶城市，擁有豐富的歷史和迷人的文化。作為沖繩的首府，那霸是探索這個群島的理想起點。
                走進世界遺產首里城，感受琉球王國的輝煌過去，或是在國際通上品嚐當地美食，體驗沖繩獨特的風味與文化。從清澈的海水、珊瑚礁到充滿綠意的公園
                和傳統市場，那霸為每一位遊客提供豐富的自然景觀與購物樂趣。不論是歷史迷、海洋愛好者，還是美食家，那霸都能帶給您難忘的旅遊體驗！</p>
              <div>
                <h2 class="ds-title">地圖</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57272.98532511892!2d127.64350269380876!3d26.210936386945782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e5697141a6b58b%3A0x2cd8aff616585e98!2z5pel5pys5rKW57mp57ij6YKj6Zy45biC!5e0!3m2!1szh-TW!2stw!4v1730267403732!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
                <div class="destinations-info">
              <h2>參考資訊</h2>
              <p>為了提升您的旅遊體驗，請參考以下資訊，以便做好充分的準備，確保您的旅程順利無憂。</p>
              <table class="destination-table">
                
                <tr>
                  <td>簽證要求</td>
                  <td>需要(日本)</td>
                </tr>
                <tr>
                  <td>當地語言</td>
                  <td>日語 & English</td>
                </tr>
                <tr>
                  <td>使用貨幣</td>
                  <td>日幣</td>
                </tr>
                <tr>
                  <td>區域大小</td>
                  <td>39.98平方公里</td>
                </tr>
              </table>
              
            </div>
            <h2 class="ds-title">圖片</h2>
            <p class="ds-text">那霸市是充滿活力的熱帶城市，擁有豐富的歷史和迷人的文化</p>
            <div class="mt-4">
              <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/Shipment/16.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/Shipment/16.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/Shipment/17.JPG" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/Shipment/17.JPG" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/Shipment/18.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/Shipment/18.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-auto">
                  <div class="gallery-img5">
                    <img src="assets/img/Shipment/19.jpg" alt="images">
                    <div class="gallery-content">
                      <a href="assets/img/Shipment/19.jpg" class="popup-image"><i
                          class="fas fa-plus"></i></a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>

            
            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar-area">
            
            
  
            <div class="widget widget_tag_cloud">
              <h3 class="widget_title">出發日期</h3>
              <div class="tagcloud">
                <a href="blog.html">10/4</a>
                <a href="blog.html">10/11</a>
                <a href="blog.html">10/18</a>
                <a href="blog.html">10/25</a>
                <a href="blog.html">11/1</a>
                <a href="blog.html">11/8</a>
                <a href="blog.html">11/15</a>
                <a href="blog.html">11/22</a>
                <a href="blog.html">11/29</a>
                <a href="#" id="viewAllDates">查看所有時間</a>
              </div>
            </div>
  
            
          </div>
        </div>

            
          </div>
        </div>
     
  </section>
  <!--==============================
	  Destination Details Area End
	==============================-->
   <!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
  $(document).ready(function () {
    // 初始化日期選擇器
    $("#datepicker").datepicker();

    // 顯示模態框
    $("#viewAllDates").click(function (e) {
      e.preventDefault();
      $("#calendarModal").fadeIn();
    });

    // 關閉模態框
    $("#closeModal").click(function () {
      $("#calendarModal").fadeOut();
    });

    // 點擊模態框外部關閉
    $(window).click(function (e) {
      if ($(e.target).is("#calendarModal")) {
        $("#calendarModal").fadeOut();
      }
    });
  });
</script>
</body>

</html>