<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Japan Activity Memory</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="src/favicon.ico">
</head>
<body>
   <!--==============================
	  Tours Area Start
	==============================-->
  <section class="space-bottom">
    <div class="outer-wrap">
      <div class="filter-menu1 filter-menu-active wow fadeInUp wow-animated">
        <button class="tab-button active" data-filter="*"><i class="fas fa-sort-alpha-up"></i> Name (A - Z)</button>
        <button class="tab-button" data-filter=".date"><i class="fas fa-calendar-alt"></i> Date</button>
        <button class="tab-button" data-filter=".hightTolow"><i class="fas fa-upload"></i> Price Low to
          High</button>
        <button class="tab-button" data-filter=".lowToHigh"><i class="fas fa-download"></i> Price Hight to
          Low</button>
      </div>
      <div class="container">
        <div class="shadow-content1">
          <div class="row">
            <div class="col-lg-9">
              <div class="row filter-active tours-active">
                <div *ngFor="let tour of displayedTours" class="col-xl-4 col-lg-6 col-sm-6 filter-item hightTolow">
                    <div class="package-style1">
                      <div class="package-img">
                        <a href="#"><img [src]="'../../../assets/img/tours/' + tour.ImageName" alt="Package Image" ></a>
                      </div>
                      <div class="package-content">
                        <div class="package-review">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="far fa-star"></i>
                          <i class="far fa-star"></i>
                        </div>
                        <h3 class="package-title"><a [routerLink]="['/itinerary-detail', tour.ItinerarySystemId]">{{tour.ItineraryName}}</a></h3>
                        <p class="package-text">{{tour.ItineraryName}}</p>
                        <div class="package-meta">
                          <a [routerLink]="['/itinerary-detail', tour.ItinerarySystemId]"><i class="fas fa-user"></i> People: 3</a>
                        </div>
                        <div class="package-footer">
                          <span class="package-price">{{tour.Price | currency:'TWD':'symbol': '1.0-0'}}</span>
                          <a [routerLink]="['/itinerary-detail', tour.ItinerarySystemId]" class="vs-btn">體驗行程詳情</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="vs-pagination pt-lg-2">
                <ul style="display: flex; justify-content: center;">
                  <li><a (click)="onPrevious()"><i class="fas fa-chevron-left"></i></a></li>
                  <li *ngFor="let page of pages; let i = index" [class.active]="currentPage === page">
                    <a (click)="onPageChange(page)">{{ page }}</a>
                  </li>
                  <li><a (click)="onNext()"><i class="fas fa-chevron-right"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="sidebar-area tours-sidebar">
                <div class="widget">
                  <h3 class="widget_title">Plan Your Trip</h3>
                  <p class="widget_text">Donec rutrum congue leo elit In a eget malesuadga blandit.</p>
                  <form class="booking-form">
                    <div class="form-group ">
                      <i class="fas fa-search"></i>
                      <input type="text" placeholder="Search Tour" />
                    </div>
                    <div class="form-group ">
                      <i class="fas fa-compass"></i>
                      <input type="text" placeholder="Where To?" />
                    </div>
                    <div class="form-group">
                      <i class="fas fa-calendar-alt"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">Select Month</option>
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <i class="fas fa-thumbtack"></i>
                      <select class="form-select" name="name">
                        <option value="" selected="selected" disabled="disabled" hidden="">Select Type</option>
                        <option value="">Adventure </option>
                        <option value="">Combining</option>
                        <option value="">Sporting</option>
                        <option value="">Domestic</option>
                      </select>
                    </div>
                    <div class="price_slider_wrapper">
                      <h3 class="widget_title">Filter By Price</h3>
                      <div class="price_slider"></div>
                      <div class="price_label">
                        Price: <span class="from">$10</span> — <span class="to">$75</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="chekbox-area">
                        <input type="radio" id="popular" name="fav_language" value="popular" checked />
                        <label for="popular">Popular</label>
                      </div>
                      <div class="chekbox-area">
                        <input type="radio" id="trendy" name="fav_language" value="trendy" />
                        <label for="trendy">Trendy</label>
                      </div>
                      <div class="chekbox-area">
                        <input type="radio" id="latest" name="fav_language" value="latest" />
                        <label for="latest">Latest</label>
                      </div>
                    </div>
                    <button class="vs-btn style4 w-100">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--==============================
	  Tours Area End
	==============================-->


</body>
