<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Japan Activity Memory</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="src/favicon.ico">
</head>
<body>
    <!--==============================
     Destiniations Area Start 
  ==============================-->
  <section class="space-top space-extra-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/1.jfif" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">那霸</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/5.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">名古屋</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/6.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">廣島</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/7.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">清水</a></h4>
              <p class="destination-text">Explore View & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/8.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">神戶</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/9.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">千葉</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/10.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">八戶</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/11.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">石垣島</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/2.jfif" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">東京</a></h4>
              <p class="destination-text">Explore Sea & Get Relax</p>
            </div>
          </div>
        </div>
      </div>
      <div class="vs-pagination pt-lg-2">
        <ul>
          <li>
            <a href="destinations.html"><i class="fas fa-chevron-left"></i></a>
          </li>
          <li><a href="destinations.html">1</a></li>
          <li><a href="destinations.html">2</a></li>
          <li><a href="destinations.html">3</a></li>
          <li>
            <a href="destinations.html"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </section>


  <!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
</body>

</html>