<!doctype html>
<html lang="en">

<body>


  <section class="space">
    <div class="container">
      <div class="row">
    <!--==============================
     Destiniations Area Start 
  ==============================-->
  
  <div class="col-lg-9">
    <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/1.jfif" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">基隆-那霸</a></h4>
              <p class="destination-text">最近出發時間:11/1</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/5.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">高雄-名古屋</a></h4>
              <p class="destination-text">最近出發時間:11/8</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/7.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">基隆-廣島</a></h4>
              <p class="destination-text">最近出發時間:11/1</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/10.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">台中-清水</a></h4>
              <p class="destination-text">最近出發時間:11/15</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/11.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">基隆-神戶</a></h4>
              <p class="destination-text">最近出發時間:11/6</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/9.webp" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">高雄-千葉</a></h4>
              <p class="destination-text">最近出發時間:11/13</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/6.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$299</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">基隆-八戶</a></h4>
              <p class="destination-text">最近出發時間:11/1</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/8.jpg" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">高雄-石垣島</a></h4>
              <p class="destination-text">最近出發時間:11/1</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="destination-style1">
            <a href="destination-details.html">
              <img src="assets/img/Shipment/2.jfif" alt="destination image" style="width: 550px; height: 300px;"/></a>
            <span class="destination-price">$399</span>
            <div class="destination-info">
              <h4 class="destination-name"><a href="#">高雄-東京</a></h4>
              <p class="destination-text">最近出發時間:11/22</p>
            </div>
          </div>
        </div>
      </div>
      <div class="vs-pagination pt-lg-2">
        <ul>
          <li>
            <a href="destinations.html"><i class="fas fa-chevron-left"></i></a>
          </li>
          <li><a href="destinations.html">1</a></li>
          <li><a href="destinations.html">2</a></li>
          <li><a href="destinations.html">3</a></li>
          <li>
            <a href="destinations.html"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
      </div>
        <!-- Sidebar for location selector -->
        <div class="col-lg-3 col-md-4 mb-4">
          <div class="sidebar-area">
            <div class="location-selector">
              <label for="departure">出發地</label>
              <select id="departure" name="departure" class="form-select">
                <option value="" disabled selected>選擇出發地</option>
                <option value="location1">基隆</option>
                <option value="location2">台中</option>
                <option value="location3">高雄</option>
              </select>
  
              <label for="destination">目的地</label>
              <select id="destination" name="destination" class="form-select">
                <option value="" disabled selected>選擇目的地</option>
                <!-- AJAX 動態更新選項 -->
              </select>
  
              <!-- 查詢按鈕 -->
              <button id="search-btn" type="button" class="vs-btn style4 mt-2">查詢</button>
            </div>
          </div>
        </div>
    </div></div>
  </section>

  <!--==============================
    All Js File
============================== -->
  <!-- Jquery -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- jquery Ui -->
  <script src="assets/js/jquery-ui.min.js"></script>
  <!-- Circle Progress -->
  <script src="assets/js/circle-progress.min.js"></script>
  <!-- isotope -->
  <script src="assets/js/imagesLoaded.js"></script>
  <script src="assets/js/isotope.js"></script>
  <!-- Wow.js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>
</body>

</html>